@import url('fonts/inter/inter.css');

/* GENERAL CSS
--------------------------------------------------- */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background: #fefefe;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.main {
    min-height: 100vh;
}

.div-control {
    display: block;
    padding: .75rem;
    margin: 0 1.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    /*border: 1px solid #ced4da;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fefefe inset !important;
    box-shadow: 0 0 0 30px #fefefe inset !important;
}

.footer {
    box-shadow: 4px 4px 8px 2px rgb(0 0 0 / 20%);
}

/* Button CSS */
.btn-custom {
    color: #fff;
    background-color: #00A19C;
    border-color: #00A19C;
}

.btn-custom-login {
    color: #fff;
}

.btn-custom-login:hover {
    color: #fff;
    background-color: #00A19C;
    border-color: #00A19C;
}

.btn-outline-custom {
    background-color: linear-gradient(0deg, rgba(77,77,77,1) 0%, rgba(0,0,0,1) 100%);
    border-color: #fefefe;
    border-width: 2.5px;
    color: white;
}

.btn-outline-custom:hover {
    background: white;
    border-color: linear-gradient(0deg, rgba(77,77,77,1) 0%, rgba(0,0,0,1) 100%);
    color: black;
}

.btn-secondary-custom {
    color: #6c757d;
}

.btn-secondary-custom > i {
    font-size: 12px;
    margin-right: 0.5rem;
    color: #6c757d;
}

.btn-secondary-custom > i:hover {
    color: #333333;
}

.btn.btn-secondary-custom:focus {
    border-color: #333333;
}

.btn-padding-1 {
    padding: .5rem 2.5rem;
}

.btn-padding-2 {
    padding: .5rem 1.5rem;
}

.alert-margin {
    margin-top: 1rem;
}
/* Breadcrumbs */

.breadcrumbs {
    padding: 0;
    margin-top: 2rem;
}

.breadcrumbs_item {
    display: inline-block;
}

.breadcrumbs_item:not(:last-of-type)::after {
    content: '\203a';
    margin: 0 5px;
    color: #2e2a2a;
}

.breadcrumbs_link {
    text-decoration: none;
    color: #2e2a2a;
}

.breadcrumbs_link:hover {
    text-decoration: underline;
    color: #383838;
}

.breadcrumbs_link-active {
    color: #383838;
    font-weight: 600;
}

/* NAVBAR SECTION
-------------------------------------------------- */
.bg-custom {
    background: rgb(77,77,77);
background: linear-gradient(0deg, rgba(77,77,77,1) 0%, rgba(0,0,0,1) 100%);
}

.site-header img {
  height: 65px;
  margin-right: 1rem;
}

.secondary-navbar {
    margin-top: calc(4rem + 74px);
}

.navbar {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.2);
}

.secondary-navbar-brand {
    margin-left: 1rem;
}

.navbar-nav > p {
    margin-bottom: 0;
    font-size: 1.2rem;
}

/* CAROUSEL SECTION
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 3.5rem;
  margin-top: 5rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element
.carousel-item {
  height: 45rem;
}*/
.carousel-item > img {
  /*position: absolute;
  top: 0;
  left: 0;
  height: 45rem;*/
  min-width: 100%;

}

.carousel-edit-btn {
	display : block;
	content : "\a"
}

/* INFORMATION SECTION
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.information {
  margin: 0 .75rem;
}

.information h2 {
  font-weight: 400;
  padding-top: 1rem;
  color: #028482;
}

.information .card-info p {
  margin-right: .75rem;
  margin-left: .75rem;
  color: #333333;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-info {
    background-color: #fefefe;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 1.5rem;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px 4px rgb(2, 132, 130,0.2);
}

.card-info img {
    width: 140px;
}
.margin-1 {
    margin-top: calc(1rem + 50px);
}


/* INFORMATION SECTION 2
-------------------------------------------------- */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}


/* LOGIN SECTION
------------------------------------------------- */

.login-section {
    margin-top: calc(6rem + 74px);
    margin-bottom: 6rem;
    padding: 2rem;
    background-color: #fefefe;
    text-align: center;
    border-radius: 1.5rem;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px 4px rgb(2, 132, 130,0.2);
}

.login-header {
    margin-bottom: 2rem;
    background-color: rgba(0, 161, 156, 1);
    color: #fefefe;
}

.login-forgot {
    text-decoration: none;
    color: #333333;
}

.login-forgot:hover {
    text-decoration: underline;
    color: #333333;
}

/* Form CSS */

.label-border {
    position: relative;
}

.label-border label {
    color: rgba(0, 161, 156, 1) !important;
    position: absolute;
    top: -15px;
    left: 23px;
    padding: 2px;
    z-index: 1;
}

.label-border label:after {
    content: " ";
    background-color: #ffffff;
    width: 100%;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

label {
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: .5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group .form-control {
    padding-left: 2.375rem;
    padding-top: 1rem;
}

.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3.375rem;
    text-align: center;
    pointer-events: none;
    color: #00a19c;
}

.form-control-input {
    border-color: rgba(180, 174, 174, 1);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.15);
}
.form-control:focus {
    border-color: #00a19c;
    box-shadow: 0 4px 8px 4px rgb(2, 132, 130,0.1);
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fefefe;
    opacity: 1;
}


/* REGISTER SECTION
------------------------------------------------- */

.register-card {
    background-color: #fefefe;
    display: block;
    margin: 0 auto 2rem;
    min-width: 33.3333%;
    text-align: center;
    padding-top: 1rem;
    border-radius: 1.5rem;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px 4px rgb(2, 132, 130,0.2);
}

.intern-detail {
    border: none;
}

.staff-detail {
    border: none;
}

.supervisor-detail {
    border: none;
}
.register-section {
    margin-top: calc(6rem + 74px);
    margin-bottom: 6rem;
    padding: 2rem;
    text-align: center;
}
/* ATTENDANCE SECTION
-------------------------------------------------- */

.attendance-status {
    margin-bottom: 2.0rem;
}
.attendance-notstarted {
    background-color: #9C9D9A;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.1);
    color: #fefefe;
}

.attendance-inprogress {
    background-color: #F6B708;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.1);
    color: #fefefe;
}

.attendance-approval {
    background-color: #F6B708;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.1);
    color: #fefefe;
}

.attendance-rejected {
    background-color: #f44336;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.1);
    color: #fefefe;
}

.attendance-approved {
    background-color: #28a745;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.1);
    color: #fefefe;
}

.attendance-complete {
    background-color: #1BD246;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.1);
    color: #fefefe;
}

.attendance-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.attendance-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.attendance-card {
    background-color: #fefefe;
    min-width: 100%;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 1.5rem;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px 4px rgb(2, 132, 130,0.2);
}

.attendance-margin {
    margin-bottom: 2rem;
}

.attendance-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.attendance-card-button {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.attendance-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.attendance-status-margin {
    margin-bottom: 2.0rem;
}

/* LEAVE REQUEST SECTION
------------------------------------------------- */

/* Calendar CSS */
.calendar-cont {
  color: #fefefe;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.calendar {
  width: 32rem;
  background-color: #fefefe;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.month {
  width: 100%;
  height: 6rem;
  background-color: rgba(0, 161, 156, 1);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 1.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.month p {
  font-size: 1rem;

}

.weekdays {
  color: #333333;
  width: 100%;
  height: 3rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(32.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.days {
  color: #333333;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.2rem;
  margin: 0.3rem;
  width: calc(27.2rem / 7);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
  border-radius: 2rem;
}

.days div:hover:not(.today) {
  background-color: #38B09D;
  color: #fefefe;
  border-radius: 2rem;
  border: 0.2rem solid #00A19C;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #00A19C;
  color: #fefefe;
  border-radius: 2rem;

}

/* Form Onboarding Checklist CSS */

.onboarding-card {
    background-color: #fefefe;
    min-width: 33.3333%;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 1.5rem;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px 4px rgb(2, 132, 130,0.2);
}

.onboarding-header {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: .75rem;
    border-radius: 2px;
    background-color: rgba(0, 161, 156, 1);
    color: #fefefe;
}

.onboarding-header .mark {
    background-color: rgba(0, 161, 156, 1);
}
.onboarding-checklist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.form-check-input {
    width: 1.5em;
    height: 1.5em;
}

.form-check-input:checked {
    background-color: #00A19C;
    border-color: #00A19C;
}

/* Form Leave Request CSS */

.leave-card {
    display: block;
    background-color: #fefefe;
    min-width: 50%;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 1.5rem;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px 4px rgb(2, 132, 130,0.2);
}

.leave-request {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}

.leave-header {
    margin-bottom: 2rem;
    background-color: rgba(0, 161, 156, 1);
    color: #fefefe;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.1);

}

.leave-card-button {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.emergency-contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.purpose-leave {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1.0rem;

}

/* FEEDBACK FORM SECTION
-------------------------------------------------- */

.feedback-section {
    background-color: #fefefe;
    min-width: 100%;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px 4px rgb(2, 132, 130,0.2);
}

.feedback-section > form > .table-bordered>:not(caption)>*>* {
    border-width: 0 0;
}

.table label {
    margin-left: 1rem;
}
.feedback-card {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.feedback-title {
    display: flex;
    justify-content: space-between;
}

.rating-desc {
    display: flex;
    justify-content: space-evenly;
    width: calc(145.2rem / 4);
}

.rating {
    width: 50%;
}

.range-custom {
    -webkit-appearance: none;
    width: 100%;
    height: 0.75rem;
    outline: none;
    border-radius: 0.25rem;
    background-color: lightgrey;
}

.form-range::-webkit-slider-thumb {
    background-color: #00A19C;
}


.questionnaire {
    width: 50%;
}

.margin-check {
    margin-left: 2.5rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (min-width: 640px) {
    .card-section div {
        width: calc(85.2rem / 4);
    }

    .login-section {
        margin-left: auto;
        margin-right: auto;
        min-height: 25rem;
        width: 70%;
    }

    .login-inner {
        padding: 2rem 1rem 0;
    }

    .login-header{
        margin-bottom: 3rem;
    }

    .form-group{
        margin-bottom: 1rem;
    }

    .form-control{
        font-size: 1.2rem;
    }

    .attendance-card{
        min-width: 30%;
        margin-bottom: 3rem;
    }

    .calendar-cont {
        display: flex;
    }

    .leave-card {
        width: 45rem;
    }

    .onboarding-card {
        width: 70.3333%;
    }
/* For Tablet */
@media only screen and (min-width: 768px) {
    .card-section div {
        width: calc(85.2rem / 4);
    }

    .login-section {
        margin-left: auto;
        margin-right: auto;
        min-height: 25rem;
        width: 70%;
    }

    .login-inner {
        padding: 2rem 1rem 0;
    }

    .login-header{
        margin-bottom: 3rem;
    }

    .form-group{
        margin-bottom: 1rem;
    }

    .form-control{
        font-size: 1.2rem;
    }

    .attendance-card{
        min-width: 30%;
        margin-bottom: 3rem;
    }

    .calendar-cont {
        display: flex;
    }

    .leave-card {
        width: 45rem;
    }

    .onboarding-card {
        width: 70.3333%;
    }
}

/* For Web */
@media only screen and (min-width: 1024px) {
    .card-section div {
        width: calc(72.2rem / 4);
    }

    .login-section {
        margin-left: auto;
        margin-right: auto;
        min-height: 30rem;
        width: 50%;
    }

    .login-inner {
        padding: 1rem 3rem 0;
    }

    .form-group{
        margin-bottom: 2rem;
    }

    .form-control{
        font-size: 1.25rem;
    }

    .attendance-card{
        min-width: 30%;
        margin-bottom: 3rem;
    }

    .calendar-cont {
        display: flex;
    }

    .leave-card {
        width: 45rem;
    }

    .onboarding-card {
        width: 70.3333%;
    }

    .register-card {
        width: 80.3333%;
    }
}

@media only screen and (min-width: 1280px) {
    .card-section div {
        width: calc(72.2rem / 4);
    }

    .login-section {
        margin-left: auto;
        margin-right: auto;
        min-height: 30rem;
        width: 50%;
    }

    .login-inner {
        padding: 1rem 3rem 0;
    }

    .form-group{
        margin-bottom: 2rem;
    }

    .form-control{
        font-size: 1.25rem;
    }

    .attendance-card{
        min-width: 30%;
        margin-bottom: 3rem;
    }

    .calendar-cont {
        display: flex;
    }

    .leave-card {
        width: 45rem;
    }

    .onboarding-card {
        width: 70.3333%;
    }

    .register-card {
        width: 80.3333%;
    }
}

@media only screen and (min-width: 1536px) {
    .card-section div {
        width: calc(72.2rem / 4);
    }

    .login-section {
        margin-left: auto;
        margin-right: auto;
        min-height: 30rem;
        width: 50%;
    }

    .login-inner {
        padding: 1rem 3rem 0;
    }

    .form-group{
        margin-bottom: 2rem;
    }

    .form-control{
        font-size: 1.25rem;
    }

    .attendance-card{
        min-width: 30%;
        margin-bottom: 3rem;
    }

    .calendar-cont {
        display: flex;
    }

    .leave-card {
        width: 45rem;
    }

    .onboarding-card {
        width: 70.3333%;
    }

    .register-card {
        width: 80.3333%;
    }
}
}

/* Card Styling at Homepage */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */

.navigation-card:hover {
    background-color: rgba(25,170,166,255) !important;
    border-color: rgba(25,170,166,255) !important;
    transition: 0.3s;
}

.navigation-card-blocked:hover {
    background-color: rgb(128,128,128) !important;
    border-color: rgba(25,170,166,255) !important;
    transition: 0.3s;
}

.navigation-card:hover h2{
    color:white !important;
}

.navigation-card:hover p{
    color:white !important;
}

/* Others */

.navigation-card-blocked{
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(128,128,128);
    border-radius: 1rem;
  }
  
.navigation-card-blocked:hover .overlay {
    opacity: 1;
}

.navigation-card-blocked:hover .overlay, .navigation-card-blocked:hover:active {
    opacity: 1;
}
/* .navigation-card-blocked:active .overlay {
    opacity: 1;
}

.navigation-card-blocked:focus .overlay {
    opacity: 1;
} */
  
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* @media only screen and (max-width: 1200px) {

    .smaller-screen{
        position: absolute !important; 
        padding-left: 150px !important; 
        padding-top: 50px !important;
    }

    .carousel-inner {
        height: 450px !important;
    } */


/* Accordion Section */
.accordion-button:not(.collapsed) {
    color: #fefefe;
    background-color: rgba(0, 161, 156, 1) !important;
}

.accordion-button:hover{
    color: #fefefe;
    background-color: rgb(60, 173, 170) !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: rgba(0, 161, 156, 1) !important;
    box-shadow: 0 0 0 0.0;
}

/* Jumbotron Section */
.jumbotron .carousel-inner {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (max-width: 640px) {

    .jumbotron h1 {
        font-size: 0.1rem;
    }
    
    .jumbotron{
        position: absolute !important; 
        padding-left: 2px !important; 
        padding-top: 2px !important;
    }

    .carousel-inner{
        height: 500px !important;
    }

    .cards-container{
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .navbar-responsive{
        align-items: center;
        margin-bottom: 0.5rem;
    }
    
    .padding-mobile{
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .border-line{
        border: none !important;
        padding-left: 0rem !important;
    }

}

/* For Tablet */
@media only screen and (min-width: 768px) {
    .jumbotron h1 {
        font-size: 2.0rem;
    }
    
    .jumbotron{
        position: absolute !important; 
        padding-left: 100px !important; 
        padding-top: 50px !important;
    }

    .carousel-inner{
        height: 400px !important;
    }
 
}

/* For Web */
@media only screen and (min-width: 1024px) {
    .jumbotron h1 {
        font-size: 3.0rem;
    }
    
    .jumbotron{
        position: absolute !important; 
        padding-left: 150px !important; 
        padding-top: 60px !important;
    }

    .carousel-inner{
        height: 450px !important;
    }

}

@media only screen and (min-width: 1280px) {
    .jumbotron h1 {
        font-size: 4.0rem;
    }
    
    .jumbotron{
        position: absolute !important; 
        padding-left: 200px !important; 
        padding-top: 100px !important;
    }

    .carousel-inner{
        height: 600px !important;
    }

 
}

@media only screen and (min-width: 1536px) {
    .jumbotron h1 {
        font-size: 4.0rem;
    }
    
    .jumbotron{
        position: absolute !important; 
        padding-left: 250px !important; 
        padding-top: 80px !important;
    }

    .carousel-inner{
        height: 600px !important;
    }


}

/* Table Header Background Colour */
.background-green{
    background-color: rgba(0, 161, 156, 1);
}