<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Dear {{detail['sv_name']}},</span></p>
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">The attendance sheet for <strong>{{ attendance['attendance_month'] }} {{ year}}</strong> has been submitted by <strong>{{ detail['fullname'] }}</strong> and is attached together with the email for your approval. <br /><br /></span><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Intern's Petronas Email: <strong>{{ detail['email'] }}</strong><br /><br /></span><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Please click the 'Approve' or 'Reject' button below to approve or reject the attendance sheet.<br /><br /></span></p>
<table width="100%" cellspacing="5" cellpadding="3">
<tbody>
<tr>
<td>
<table cellspacing="8" cellpadding="3">
<tbody>
<tr>
<td style="border-radius: 2px;" bgcolor="#6c757d"><a style="padding: 8px 12px; border: 1px solid #6c757d; border-radius: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #ffffff; text-decoration: none; font-weight: bold; display: inline-block;" href="http://127.0.0.1:5000/intern/attendance/{{ attendance['id'] }}/{{ detail['id'] }}/approval/rejected" target="_blank" rel="noopener"> Reject </a></td>
<td style="border-radius: 2px;" bgcolor="#007bff"><a style="padding: 8px 12px; border: 1px solid #007bff; border-radius: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #ffffff; text-decoration: none; font-weight: bold; display: inline-block;" href="http://127.0.0.1:5000/intern/attendance/{{ attendance['id'] }}/{{ detail['id'] }}/approval/approved" target="_blank" rel="noopener"> Approve </a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Thank you and best regards,<br /></span><strong><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">GITConnect Admin</span></strong></p>