<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Dear {{ detail['fullname'] }},</span></p>
{% if status == 'approved' %}
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Your <strong>{{ attendance['attendance_month'] }}</strong> attendance sheet has been <strong>{{ status }}</strong>.</span><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;"><br /><br /></span><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Please proceed to submit your attendance sheet to the HR focal through the <a href="http://127.0.0.1:5000/">GITConnect</a>.<br /></span></p>
{% else %}
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Your <strong>{{ attendance['attendance_month'] }}</strong> attendance sheet has been <strong>{{ status }}</strong>.</span><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;"><br /><br /></span><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Please do the amendment and resubmit your attendance sheet to the supervisor for approval through the <a href="http://127.0.0.1:5000/">GITConnect</a>.<br /></span></p>
{% endif %}
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;"><br />Thank you and best regards,<br /></span><strong><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">GITConnect Admin</span></strong></p>