<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Dear Sir/Madam,</span></p>
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">The feedback form has been submitted by <strong>{{ detail['fullname'] }}</strong> and is attached together with the email for your review.<br /><br />Intern's Petronas Email: <strong>{{ detail['email'] }}<br /><br />You can acquire the feedback form through <a href="http://127.0.0.1:5000/">GITConnect</a> too<br /><br /></strong></span></p>
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Thank you and best regards,<br /></span><strong><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">GITConnect Admin</span></strong></p>