<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Dear {{ detail['fullname'] }},</span></p>
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Unfortunately, your request for leave has been <strong>rejected</strong> for some reasons.</span><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;"><br /><br /></span><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Please contact your supervisor: {{ detail['sv_email'] }} to make an appeal.<br /></span></p>
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;"><br />Thank you and best regards,<br /></span><strong><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">GITConnect Admin</span></strong></p>