<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Dear {{ detail['sv_name'] }},</span></p>
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;"><strong>{{ detail['fullname'] }}</strong> has request for leave on <strong>{{ data['date'] }} - {{ data['duration'] }} day(s)</strong><br /><br />Petronas Email: <strong>{{ detail['email'] }}</strong><br /><br />Type of program: <strong>{{ data['program'] }}</strong><br />Justification: <strong>{{ data['justification'] }}</strong><br /><br /></span><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Please click the 'Approve' or 'Reject' button below to approve or reject the leave.<br /><br /></span>
    <table width="100%" cellspacing="5" cellpadding="3">
  <tr>
      <td>
          <table cellspacing="8" cellpadding="3">
              <tr>
                  <td style="border-radius: 2px;" bgcolor="#6c757d">
                      <a href="http://127.0.0.1:5000/intern/request_for_leave/{{ detail['id'] }}/sv_approval/rejected" target="_blank" style="padding: 8px 12px; border: 1px solid #6c757d;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                          Reject
                      </a>
                  </td>
                  <td style="border-radius: 2px;" bgcolor="#007bff">
                      <a href="http://127.0.0.1:5000/intern/request_for_leave/{{ detail['id'] }}/sv_approval/approved" target="_blank" style="padding: 8px 12px; border: 1px solid #007bff;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                          Approve
                      </a>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>
<span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Thank you and best regards,<br /></span><strong><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">GITConnect Admin</span></strong></p>