<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Dear {{ detail['hr_name'] }},</span></p>
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">An on-boarding checklist has been submitted by <strong>{{ detail['fullname'] }}.</strong><br /><br /><span style="text-decoration: underline;">Details:</span><br />Intern's Petronas Email: <strong>{{ detail['email'] }}<br /></strong>Completion: <strong>{{ checklist['completion'] }}%</strong>
    {% if remarks %}<br />Remarks: <strong>{{ remarks }}</strong>{% endif %} </span></p>
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Please click <a href="http://127.0.0.1:5000/" target="_blank" rel="noopener">here</a> to be redirected to GITConnect to view and manage the submitted files.</span></p>
<p><span lang="EN-US" style="font-size: 11.0pt; font-family: 'Segoe UI',sans-serif;">Thank you and best regards,<br /><strong>GITConnect Admin</strong></span></p>