{% extends 'base.html' %}

{% block title %} Attendance Sheet {% endblock %}

{% block content %}

<!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <!-- Breadcrumb -->
    <ul class="breadcrumbs">
        <li class="breadcrumbs_item">
        <i class="fas fa-home" style="font-size: 16px;"></i>
            <a href="{{url_for('home')}}" class="breadcrumbs_link">Home</a>
        </li>
        <li class="breadcrumbs_item">
            <p class="breadcrumbs_link-active">Attendance Sheet Overview</p>
        </li>
    </ul>
	<br>
    <nav class="navbar navbar-light bg-light rounded-pill">
      <div class="navbar-nav secondary-navbar-brand">
        <p class="ml-2">Attendance Sheet Overview</p>
      </div>
      <div>
        <button style="margin-right: 1rem;" class="btn btn-secondary-custom rounded-pill" type="button" data-bs-toggle="modal" data-bs-target="#addsheet"><i class="fas fa-plus text-secondary"></i>New Sheet</button>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>

<!-- Attendance Cards -->
<div class="container attendance margin-1">
    <div class="attendance-section">
        {% if attendance %}
            {% for item in attendance %}
            <!-- Onboarding Checklist Card -->
            <div class="attendance-card">
             <div class="login-header div-control mt-2 mb-4 rounded-pill shadow-md">
                <h4>{{ item['attendance_month'] }}</h4>
             </div>
                {% if item['status'] == 'inprogress' %}
             <div class="attendance-status">
                 <div class="attendance-status-margin div-control rounded-pill shadow-md attendance-{{ item['status'] }}">
                    <h5>In Progress</h5>
                 </div>
                 <small class="text-muted">Last modified: {{ item['last_modified'] }}</small>
             </div>
                {% elif item['status'] == 'approval' %}
             <div class="attendance-status">
                 <div class="attendance-status-margin div-control rounded-pill shadow-md attendance-{{ item['status'] }}">
                    <h5>Sent for Supervisor's Approval</h5>
                 </div>
                 <small class="text-muted">Last modified: {{ item['approved_date'] }} </small>
             </div>
                {% elif item['status'] == 'approved' %}
             <div class="attendance-status">
                 <div class="attendance-status-margin div-control rounded-pill shadow-md attendance-{{ item['status'] }}">
                    <h5>Approved by Supervisor</h5>
                 </div>
                 <small class="text-muted">Last modified: {{ item['approved_date'] }} </small>
             </div>
                {% elif item['status'] == 'rejected' %}
             <div class="attendance-status">
                 <div class="attendance-status-margin div-control rounded-pill shadow-md attendance-{{ item['status'] }}">
                    <h5>Rejected by Supervisor</h5>
                 </div>
                 <small class="text-muted">Last modified: {{ item['approved_date'] }} </small>
             </div>
                {% elif item['status'] == 'complete' %}
             <div class="attendance-status">
                 <div class="attendance-status-margin div-control rounded-pill shadow-md attendance-{{ item['status'] }}">
                    <h5>Submitted to HR</h5>
                 </div>
                 <small class="text-muted">Last modified: {{ item['submitted_date'] }}</small>
             </div>
                {% else %}
             <div class="attendance-status">
                 <div class="attendance-status-margin div-control rounded-pill shadow-md attendance-notstarted">
                    <h5>Not Started</h5>
                 </div>
                 <small class="text-muted">Last modified: None </small>
             </div>
                {% endif %}
            <div class="attendance-card-button" align="center">
               <div class="button-1">
                    <a type="button" class="btn btn-outline-info btn-padding-2 rounded-pill" href="{{url_for('attendance_editor', id=item['id']) }}"><div class="mx-2"> Edit</div> </a>
                </div>
                <div class="button-1">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger btn-padding-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#deleteAttendance{{item['id']}}">Delete</button>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteAttendance{{item['id']}}" data-bs-backdrop="static"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content rounded-2xl">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Attendance Sheet</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body" align="left">
                            Do you want to delete {{ item['attendance_month'] }}'s attendance sheet?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-padding-2 rounded-pill" data-bs-dismiss="modal">Close</button>
                            <a type="submit" class="btn btn-danger btn-padding-2 rounded-pill" href="{{ url_for('attendance_delete', id=item['id']) }}">Delete</a>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>

                <!-- Attendance Sheet is In Progress -->
                {% if item['status'] == 'inprogress' %}
                <div class="button-2">
                    <a type="submit" class="btn btn-custom btn-padding-2 rounded-pill" href="{{ url_for('attendance_approval', id=item['id']) }}">Approval</a>
                </div>

                <!-- Attendance Sheet is Pending SV's Approval -->
                {% elif item['status'] == 'approval' %}

                <!-- Attendance Sheet is Approved by SV -->
                {% elif item['status'] == 'approved' %}
                <div class="button-2">
                  <a type="submit" class="btn btn-custom btn-padding-2 rounded-pill" href="{{ url_for('attendance_submit', id=item['id']) }}">Submit</a>
                </div>

                <!-- Attendance Sheet is Rejected by SV -->
                {% elif item['status'] == 'rejected' %}

                <!-- Attendance Sheet is Submitted to HR -->
                {% elif item['status'] == 'complete' %}

                <!-- Attendance Sheet is Just Created -->
                {% else %}
                
                {% endif %}
            </div>
            </div>
            {% endfor %}
        {% else  %}
            <h3>Oops! You have not created any attendance sheet yet. Create one now!</h3>
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addsheet" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-h5ledby="onboardingformh5" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-2xl">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Attendance Month</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-h5="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Document Upload -->
         <form action="{{ url_for('attendance_add') }}" method="POST">
           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group label-border mt-2 mb-4">
              <label>Month</label>
                <select class="form-control form-select form-control-input rounded-lg" name="month">
                    <option selected disabled value="">-- Select Month --</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
              <div class="modal-footer mb-1">
                <button type="submit" class="btn btn-custom btn-padding-2 rounded-pill">Add Sheet</button>
              </div>
         </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}


