{% extends 'attendance.html' %}

{% block head %}
<script src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}"></script>
{%endblock head%}

{% block title %} Attendance Sheet Editor {% endblock %}

{% block content %}

<!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <!-- Breadcrumb -->
    <ul class="breadcrumbs">
        <li class="breadcrumbs_item">
        <i class="fas fa-home" style="font-size: 16px;"></i>
            <a href="{{url_for('home')}}" class="breadcrumbs_link">Home</a>
        </li>
        <li class="breadcrumbs_item">
            <a href="{{url_for('attendance')}}" class="breadcrumbs_link">Attendance Sheet Overview</a>
        </li>
        <li class="breadcrumbs_item">
            <p class="breadcrumbs_link-active">Attendance Sheet - {{ attendance['attendance_month'] }}</p>
        </li>
    </ul>
	<br>
    <nav class="navbar navbar-light bg-light rounded-pill" style="padding-top: 0.75rem; padding-bottom: 0.75rem;">
      <div class="navbar-nav secondary-navbar-brand me-auto">
        <p class="ml-2">Attendance Sheet - {{ attendance['attendance_month'] }}</p>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>

<!-- Leave Request Content -->
<div class="container margin-1">

    <legend style="text-align: center; font-weight: bold; margin-bottom: 2.5rem;"> Attendance Sheet Details </legend>

    <div class="attendance-box">
        <form action="{{ url_for('attendance_editor', id=attendance['id']) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="attendance-inner">
          <div class="form-group label-border">
            <label for="formGroupInput">Name</label>
            <input type="text" class="form-control form-control-input rounded-lg" id="formGroupInput" name="name" value="{{ user['fullname'] }}" readonly>
          </div>

          <div class="form-group label-border">
            <label for="formGroupInput2">PETRONAS Scholar</label>
            <input type="text" class="form-control form-control-input rounded-lg" id="formGroupInput2" name="scholar" value="{{ user['scholar'] }}" readonly>
          </div>

          <div class="form-group label-border">
            <label for="formGroupInput3">Department</label>
            <input type="text" class="form-control form-control-input rounded-lg" id="formGroupInput3" name="department" value="{{ user['department'] }}" readonly>
          </div>

          <div class="form-group label-border">
            <label for="formGroupInput4">Division</label>
            <input type="text" class="form-control form-control-input rounded-lg" id="formGroupInput4" name="division" value="{{ user['division'] }}" readonly>
          </div>

          <div class="form-group label-border">
            <label for="formGroupInput5">Cost Centre</label>
            <input type="text" class="form-control form-control-input rounded-lg" id="formGroupInput5" name="cost_centre" value="{{ user['cost_centre'] }}" readonly>
          </div>

          <div class="form-group label-border">
            <label for="formGroupInput6">IC No.</label>
            <input type="text" class="form-control form-control-input rounded-lg" id="formGroupInput6" name="nric" value="{{ user['nric'] }}" readonly>
          </div>
        </div>

            <br>
            {% if attendance['html_file'] %}
          <textarea name="content" class="editor" required>{{ attendance['html_file'] }}</textarea>
            {% else %}
          <textarea name="content" class="editor" required>{{ html_data }}</textarea>
            {% endif %}
            <br>
            <div class="attendance-button">
                <div  class="button-1">
                    <a type="button" class="btn btn-md btn-danger btn-padding-2 rounded-pill" href="{{url_for('attendance')}}">Back</a>
                </div>
                <div class="button-2">
                    <button type="submit" class="btn btn-md btn-custom btn-padding-2 rounded-pill">Save</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="{{ url_for('static', filename='js/editor.js') }}" charset="utf-8"></script>

{% endblock %}