<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- CSS documents-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/asset.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/solid.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/all.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/app.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/components-v2.css') }}"


    <title>{% block title %} Send Request for Onboarding Checklist {% endblock %}</title>    
 {% block head %} <script src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}"></script> {%endblock head%}

</head>

{% block content %}
<body>

<!-- Navigation Bar -->
<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-custom">
	  <div class="container">
		<a class="mr-4" href="/staff"><img src="{{ url_for('static', filename='image/WhiteLogo2.png') }}" alt="PETRONAS"></a>
		<button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggle">
		  <div class="navbar-nav me-auto navbar-responsive">
			  <h5 style="color:white;">HR Executives</h5>
		  </div>
		  <div class="navbar-nav d-flex navbar-responsive">
			{% if session.loggedin %}
			  <div class="padding-mobile" style="padding-right: 1rem;">
				  <a href="{{ url_for('staff_profile') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">{{ session.fullname }}</h5></a>
			  </div>
			  <div class="padding-mobile border-line" style="border-left: 2px solid white; padding-left: 1rem;">
				  <a href="{{ url_for('logout') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign Out</h5></a>
			  </div>
			{% else %}
			  <div class="padding-mobile" style="padding-right: 1rem;">
				  <a href="{{ url_for('intern_login') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign In</h5></a>
			  </div>
			{% endif %}
		  </div>
		</div>
	  </div>
	</nav>
  </header>
	
<div class="container">

	<br><br><br><br><br>
	
	<!-- Breadcrumb -->
    <ul class="breadcrumbs">
        <li class="breadcrumbs_item">
        <i class="fas fa-home" style="font-size: 16px;"></i>
            <a href="{{url_for('staff_lobby')}}" class="breadcrumbs_link">Home</a>
        </li>
        <li class="breadcrumbs_item">
            <a href="{{url_for('checklist_submission')}}" class="breadcrumbs_link">Onboarding Checklist Submission</a>
        </li>
        <li class="breadcrumbs_item">
            <p class="breadcrumbs_link-active">Email Editor</p>
        </li>
    </ul>
	
	<br>
	
    <nav class="navbar navbar-light bg-light rounded-pill" style="padding-top: 0.75rem; padding-bottom: 0.75rem;">
      <div class="navbar-nav secondary-navbar-brand me-auto">
        <p class="pl-2">Send Request For On boarding Checklist Submission</p>
      </div>
    </nav>
	
	    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
</div>

	<div class="container margin-1" align="center">
	<div class="wrap-webcase" style="width: 60%;">
		<legend style="text-align: center; font-weight: bold; margin-bottom: 2.0rem;"> EMAIL ONBOARDING CHECKLIST </legend>
			<hr class="mb-4">
			 <div class="wrapper">
				 <!-- start of email_editor -->
				<form action="{{ url_for('email_editor') }}" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<div class="form-group" align="left">
						<label for="formGroupExampleInput" >Recipients</label>
						<input type="text" class="form-control form-control-lg rounded-lg" value="" id="formGroupExampleInput" name="recipients" placeholder="To:" required>
						<small>Multiple recipients must be separated by comma</small>
					</div>
					
					<div class="form-group" align="left">
						<label for="formGroupExampleInput2">Subject</label>
						<input type="text" class="form-control form-control-lg rounded-lg" value="Welcome Onboard PETRONAS Interns!" id="formGroupExampleInput2" name="subject" placeholder="Subject:" required>
					</div>
					
					<!-- start of email body -->
					<div class="form-group" align="left">	
					  <label>Body</label>
					  <textarea name="content" id="summernote" align="center" required>
					  Dear Student,
					  <br><br>
					  <p align="justify">Congratulations for being selected to undergo practical training in PETRONAS Dagangan Berhad.
					  <br>To begin your internship journey at PDB, 
					  please log on to GITConnect which acts as a one stop centre for your internship. 
					  <br>Please create your account and submit 
					  the documents required as per the Onboarding Checklist. 
					  <br><br><br>
					  Please find attached the information on GITConnect below for your kind info.
					  <br>
					  You can also click <a href="{{ url_for('home') }}">here</a> to log on to GITConnect.
					  <br><br><br>
					  Shall you seek further clarification, please don’t hesitate to contact me.
					  <br><br><br><br>
					  <i>The content of this email is confidential and intended for the recipient specified in message only. 
					  It is strictly forbidden to share any part of this message with any third party, without a written consent of the sender.
					  </i></p>
					  <br><br>
					  Thank You.
					  <br><br>
					  Best Regards, 
					  <br>
					  <i>Nadia Binti Nordin
					  <br>
					  Capability Management
					  <br>
					  HRM Division</i>
					  </textarea>
					  <br>
					</div>
					<!-- end of email body -->
					
					<div class="attendance-button">
						<div  class="button-1">
							<a type="button" class="btn btn-md btn-danger btn-padding-2 rounded-pill" href="{{url_for('checklist_submission')}}">Back</a>
						</div>
						<div class="button-2">
							<button type="submit" class="btn btn-md btn-custom btn-padding-2 rounded-pill">Send Email</button>
						</div>
					</div>
				</form>
				<!-- end of email_editor -->
            </div>

			<!-- <form action="{{ url_for('email_editor_upload') }}" method="POST"> -->
					<!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> -->
						<!-- <div class="button-2"> -->
							<!-- Add Attachment(s) -->
							<!-- <input type="file" class="form-control form-control-input custom-file-input files" width="20" id="files" name="files" multiple="true"/> -->
							<!-- <button type="submit" class="btn btn-lg btn-custom">Upload</button> -->
						<!-- </div> -->
			<!-- </form> -->
    </div>
</div>

</body>
<script type="text/javascript">

function image_upload_handler (blobInfo, success, failure) {
      success("data:" + blobInfo.blob().type + ";base64," + blobInfo.base64());
    };

function no_blob (img) {
      return !img.hasAttribute('internal-blob');
    };

function paste_post_process (pl, o) {
            // remove &nbsp
            o.node.innerHTML = o.node.innerHTML.replace(/&nbsp;/ig, " ");
         };

tinymce.init({
	/* replace textarea having class .tinymce with tinymce editor */
	selector: "#summernote",

    paste_auto_cleanup_on_paste : true,
    paste_postprocess : paste_post_process,
    relative_urls : false,
    remove_script_host : false ,
    convert_urls:true,
    force_br_newlines : true,
    force_p_newlines : false,

	/* width and height of the editor */
	width: '100%',
	height: 600,

	/* display statusbar */
	statusbar: true,

	/* plugin */
	plugins: [
		"advlist autolink link image lists charmap print preview hr anchor pagebreak",
		"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
		"save table contextmenu directionality emoticons template paste textcolor imagetools bdeskphoto"
	],

	/* toolbar */
	toolbar: "insertfile undo redo | styleselect | fontselect fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image bdeskphoto | print preview media fullpage | forecolor backcolor emoticons",

    images_dataimg_filter: no_blob,
    paste_data_images: true,
    images_upload_handler: image_upload_handler,
    apply_source_formatting : true,
    extended_valid_elements : 'img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name]',

    formats: {
    removeformat: [
      {selector: 'b,strong,em,i,font,u,strike', remove : 'all', split : true, expand : false, block_expand: true, deep : true},
      {selector: 'span', attributes : ['style', 'class'], remove : 'empty', split : true, expand : false, deep : true},
      {selector: '*', attributes : ['style', 'class'], split : false, expand : false, deep : true}
    ]
  },

  font_formats:
    "Andale Mono=andale mono,times; Calibri=calibri,arial,helvetica,sans-serif; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino; Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats",

    fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',

	/* style */
	style_formats: [
		{title: "Headers", items: [
			{title: "Header 1", format: "h1"},
			{title: "Header 2", format: "h2"},
			{title: "Header 3", format: "h3"},
			{title: "Header 4", format: "h4"},
			{title: "Header 5", format: "h5"},
			{title: "Header 6", format: "h6"}
		]},
		{title: "Inline", items: [
			{title: "Bold", icon: "bold", format: "bold"},
			{title: "Italic", icon: "italic", format: "italic"},
			{title: "Underline", icon: "underline", format: "underline"},
			{title: "Strikethrough", icon: "strikethrough", format: "strikethrough"},
			{title: "Superscript", icon: "superscript", format: "superscript"},
			{title: "Subscript", icon: "subscript", format: "subscript"},
			{title: "Code", icon: "code", format: "code"}
		]},
		{title: "Blocks", items: [
			{title: "Paragraph", format: "p"},
			{title: "Blockquote", format: "blockquote"},
			{title: "Div", format: "div"},
			{title: "Pre", format: "pre"}
		]},
		{title: "Alignment", items: [
			{title: "Left", icon: "alignleft", format: "alignleft"},
			{title: "Center", icon: "aligncenter", format: "aligncenter"},
			{title: "Right", icon: "alignright", format: "alignright"},
			{title: "Justify", icon: "alignjustify", format: "alignjustify"}
		]}
	]

});
</script>
 <!--<script>
      $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 300,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>-->
	
	
<script src="{{ url_for('static', filename='js/editor.js') }}" charset="utf-8"></script>
{% endblock %}
<!-- Footer -->
<footer class="footer bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
      <p>© 2021 Copyright | Digital Division, Petronas Dagangan Berhad (PDB)</p>
  </div>
  <!-- Copyright -->
</footer>

<!-- General JS -->
<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" charset="utf-8"></script> 
</body>
</html>
