<p style="text-align: center;"><span style="font-family: calibri, arial, helvetica, sans-serif;"><strong><span style="font-size: 14pt;">PETRONAS INTERNSHIP OPPORTUNITY PROGRAMME</span><br /><br /></strong></span></p>
<table style="border-collapse: collapse; width: 99.9195%; height: 83px; background-color: #ffffff; border-color: #ffffff; border-style: none;" border="1">
<tbody>
<tr style="height: 20px;">
<td style="width: 24.4006%; height: 20px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">Name:</span></td>
<td style="width: 24.4006%; height: 20px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ detail['fullname'] }}</span></td>
<td style="width: 24.4454%; height: 20px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">University:</span></td>
<td style="width: 24.4454%; height: 20px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ detail['university'] }}</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 24.4006%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">Internship Period:</span></td>
<td style="width: 24.4006%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ detail['period'] }}</span></td>
<td style="width: 24.4454%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">PETRONAS scholar:</span></td>
<td style="width: 24.4454%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ detail['scholar'] }}</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 24.4006%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">Supervisor's Name:</span></td>
<td style="width: 24.4006%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ detail['sv_name'] }}</span></td>
<td style="width: 24.4454%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">OPU/HCU/Business:</span></td>
<td style="width: 24.4454%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">N/A</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 24.4006%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">Unit/Department:</span></td>
<td style="width: 24.4006%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ detail['department'] }}</span></td>
<td style="width: 24.4454%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">Company:</span></td>
<td style="width: 24.4454%; height: 21px;"><span style="font-family: calibri, arial, helvetica, sans-serif;">Petronas Dagangan Berhad</span></td>
</tr>
</tbody>
</table>
<br /><br />
<table style="border-collapse: collapse; width: 99.9195%; height: 230px;" border="1">
<tbody>
<tr style="height: 20px;">
<td style="width: 18.8316%; height: 20px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;"><strong>Questions</strong></span></td>
<td style="width: 18.9211%; height: 20px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;"><strong>Rating</strong></span></td>
</tr>
<tr style="height: 10px;">
<td style="width: 18.8316%; height: 10px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">The task assigned is valuable experience in relation to my academic studies</span></td>
<td style="width: 18.9211%; height: 10px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item1'] }}</span></td>
</tr>
<tr style="height: 20px;">
<td style="width: 18.8316%; height: 20px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">The given responsibilities enabled me to apply the knowledge and skills learned through college course work</span></td>
<td style="width: 18.9211%; height: 20px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item2'] }}</span></td>
</tr>
<tr style="height: 20px;">
<td style="width: 18.8316%; height: 20px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">I was allowed to take the initiative to work beyond the basic requirements of the task</span></td>
<td style="width: 18.9211%; height: 20px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item3'] }}</span></td>
</tr>
<tr style="height: 20px;">
<td style="width: 18.8316%; height: 20px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">This experience gave me a realistic preview of this career field</span></td>
<td style="width: 18.9211%; height: 20px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item4'] }}</span></td>
</tr>
<tr style="height: 20px;">
<td style="width: 18.8316%; height: 20px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">I had regular meetings with my supervisor and received constructive, on-going feedback</span></td>
<td style="width: 18.9211%; height: 20px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item5'] }}</span></td>
</tr>
<tr style="height: 20px;">
<td style="width: 18.8316%; height: 20px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">My supervisor was available and accessible when I had questions/concerns</span></td>
<td style="width: 18.9211%; height: 20px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item6'] }}</span></td>
</tr>
<tr style="height: 20px;">
<td style="width: 18.8316%; height: 20px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">I was treated on the same level as other employees</span></td>
<td style="width: 18.9211%; height: 20px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item7'] }}</span></td>
</tr>
<tr style="height: 20px;">
<td style="width: 18.8316%; height: 20px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">There were ample opportunities for learning</span></td>
<td style="width: 18.9211%; height: 20px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item8'] }}</span></td>
</tr>
<tr style="height: 20px;">
<td style="width: 18.8316%; height: 20px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">I had a good working relationship with my coworkers</span></td>
<td style="width: 18.9211%; height: 20px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item9'] }}</span></td>
</tr>
<tr style="height: 20px;">
<td style="width: 18.8316%; height: 20px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">The information provided during onboarding session was suffice</span></td>
<td style="width: 18.9211%; height: 20px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item10'] }}</span></td>
</tr>
<tr style="height: 20px;">
<td style="height: 20px;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">I received my allowance timely</span></td>
<td style="height: 20px;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item11'] }}</span></td>
</tr>
<tr>
<td colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">I feel that I am better prepared to enter the world of work after this experience</span></td>
<td colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item12'] }}</span></td>
</tr>
<tr>
<td style="width: 18.8316%;" colspan="3"><span style="font-family: calibri, arial, helvetica, sans-serif;">I would recommend this internship to other students</span></td>
<td style="width: 18.9211%;" colspan="2"><span style="font-family: calibri, arial, helvetica, sans-serif;">{{ feedback['item13'] }}</span></td>
</tr>
</tbody>
</table>
<p><br /><span style="font-family: calibri, arial, helvetica, sans-serif;">In <strong>ONE word</strong> please describe your experience with PETRONAS Internship <span style="border-bottom: 1px solid black;">{{ feedback['item14'] }}</span></span></p>
<p><br /><br /><br /></p>