{% extends 'base.html' %}

{% block title %} Feedback Form {% endblock %}

{% block content %}

<!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <!-- Breadcrumb -->
    <ul class="breadcrumbs">
        <li class="breadcrumbs_item">
        <i class="fas fa-home" style="font-size: 16px;"></i>
            <a href="{{url_for('home')}}" class="breadcrumbs_link">Home</a>
        </li>
        <li class="breadcrumbs_item">
            <p class="breadcrumbs_link-active">Feedback Form</p>
        </li>
    </ul>
	<br>
    <nav class="navbar navbar-light bg-light rounded-pill" style="padding-top: 0.75rem; padding-bottom: 0.75rem;">
      <div  class="navbar-nav secondary-navbar-brand me-auto">
        <p class="ml-2">Feedback Form</p>
      </div>
      <div class="navbar-nav" style="border-left: 1px solid black; padding: 0 1rem;">
          <p></p>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>

<!-- Onboarding Checklist Content -->
<div class="container">
<!-- Form Section -->
    <div class="feedback-section mt-4">
        <form class="feedback-form" action="{{ url_for('feedback') }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Questionnaire</th>
              <th scope="col" class="margin-check">Poor</th>
              <th scope="col" class="margin-check">Need Improvement</th>
              <th scope="col" class="margin-check">Satisfactory</th>
              <th scope="col" class="margin-check">Excellence</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td >The task assigned is valuable experience in relation to my academic studies</td>
              <td><input type="radio" class="form-check-input" name="item1" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item1" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item1" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item1" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td >The given responsibilities enabled me to apply the knowledge and skills learned through college course work</td>
              <td><input type="radio" class="form-check-input" name="item2" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item2" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item2" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item2" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td >I was allowed to take the initiative to work beyond the basic requirements of the task</td>
              <td><input type="radio" class="form-check-input" name="item3" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item3" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item3" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item3" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td >This experience gave me a realistic preview of this career field</td>
              <td><input type="radio" class="form-check-input" name="item4" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item4" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item4" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item4" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td >I had regular meetings with my supervisor and received constructive, on-going feedback</td>
              <td><input type="radio" class="form-check-input" name="item5" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item5" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item5" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item5" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td >My supervisor was available and accessible when I had questions/concerns</td>
              <td><input type="radio" class="form-check-input" name="item6" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item6" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item6" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item6" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td >I was treated on the same level as other employees</td>
              <td><input type="radio" class="form-check-input" name="item7" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item7" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item7" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item7" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td >There were ample opportunities for learning</td>
              <td><input type="radio" class="form-check-input" name="item8" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item8" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item8" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item8" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td >I had a good working relationship with my coworkers</td>
              <td><input type="radio" class="form-check-input" name="item9" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item9" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item9" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item9" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td >The information provided during onboarding session was suffice</td>
              <td><input type="radio" class="form-check-input" name="item10" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item10" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item10" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item10" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">11</th>
              <td >I received my allowance timely</td>
              <td><input type="radio" class="form-check-input" name="item11" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item11" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item11" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item11" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">12</th>
              <td >I feel that I am better prepared to enter the world of work after this experience</td>
              <td><input type="radio" class="form-check-input" name="item12" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item12" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item12" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item12" value="Excellence"/></td>
            </tr>
            <tr>
              <th scope="row">13</th>
              <td >I would recommend this internship to other students</td>
              <td><input type="radio" class="form-check-input" name="item13" value="Poor"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item13" value="Need Improvement"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item13" value="Satisfactory"/></td>
              <td><input type="radio" class="form-check-input margin-check" name="item13" value="Excellence"/></td>
            </tr>
          </tbody>
        </table>
            <div class="mt-4" style="display: flex; justify-content: space-evenly; align-items: center;">
                <p><strong>In ONE word please describe your experience with PETRONAS</strong></p>
                <input type="text" name="item14" class="rounded-lg">
            </div>
            <div class="leave-card-button">
                    <div  class="button-1">
                        <button type="button" class="btn btn-md btn-outline-danger btn-padding-2 clear-form rounded-pill">Clear</button>
                    </div>
                    <div class="button-2">
                        <button type="submit" class="btn btn-md btn-custom btn-padding-2 rounded-pill">Submit</button>
                    </div>
                </div>
        </form>
    </div>`
</div>

<script>

document.querySelector(".clear-form").addEventListener("click", () => {
  document.querySelector(".feedback-form").reset();
});

</script>

{% endblock %}