{% extends 'base.html' %}

{% block title %} Intern Registration {% endblock %}

{% block content %}

<!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <nav class="navbar navbar-light bg-light rounded-pill" style="padding-top: 0.75rem; padding-bottom: 0.75rem;">
      <div class="navbar-nav secondary-navbar-brand me-auto">
        <p class="ml-2">Intern Registration</p>
      </div>
      <div class="navbar-nav" style="border-left: 1px solid black; padding: 0 1rem;">
          <p></p>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>
<!-- Onboarding Checklist Content -->
<div class="container margin-1">
<!-- Form Section -->
    <form class="register-form needs-validation" action="{{ url_for('intern_register') }}" method="POST" oninput='confirm_password.setCustomValidity(confirm_password.value != password.value ? "Passwords do not match." : "")' novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <div class="register-card">
          <div class="leave-header div-control rounded-pill mt-2">
            <h4>Registration Form</h4>
         </div>
          <div class="accordion mx-4 px-2 my-4" id="accordionPanelsStayOpenExample">
            <div class="accordion-item mb-2">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button rounded-pill border border-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  <strong>Personal Details</strong> 
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <!-- Name Field -->
                  <div class="form-group label-border my-3">
                    <label>Name</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="name" required>
                      <div class="invalid-feedback">
                        Please enter your name!
                      </div>
                  </div>
                  <!-- Password Field -->
                  <div class="form-group label-border my-4">
                    <label>Password</label>
                    <input type="password" class="form-control form-control-input rounded-lg" name="password" autocomplete="off" required>
                      <div class="invalid-feedback">
                        Please enter password!
                      </div>
                  </div>
                  <!-- Confirm Password Field -->
                  <div class="form-group label-border my-4">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control form-control-input rounded-lg" name="confirm_password" autocomplete="off" required>
                      <div class="invalid-feedback">
                        Password doesn't match!
                      </div>
                  </div>
                  <!-- Gender Field -->
                  <div class="form-group label-border my-4">
                    <label>Gender</label>
                      <select name="gender" class="mt-1 block w-full pl-6 pr-10 py-3 text-base shadow focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-lg">
                          <option selected disabled value="">Select Gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                      </select>
                        <div class="invalid-feedback">
                        Please choose your gender!
                      </div>
                  </div>
                  <!-- Nationality Field -->
                  <div class="form-group label-border my-4">
                    <label>Nationality</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="nationality" required>
                      <div class="invalid-feedback">
                        Please enter your nationality!
                      </div>
                  </div>
                  <!-- Personal Email Field -->
                  <div class="form-group label-border my-4">
                    <label>Personal Email</label>
                    <input type="email" class="form-control form-control-input rounded-lg" name="email" required/>
                      <div class="invalid-feedback">
                        Please enter your email!
                      </div>
                  </div>
                  <!-- Contact No Field -->
                  <div class="form-group label-border my-4">
                    <label>Contact No.</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="contact" required/>
                      <div class="invalid-feedback">
                        Please enter your contact numebr!
                      </div>
                  </div>
                  <!-- IC/Passport Field -->
                  <div class="form-group label-border my-2">
                    <label>IC/Passport No.</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="passport" required/>
                      <div class="invalid-feedback">
                        Please enter your NRIC or Passport number!
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item mb-2">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed rounded-pill border border-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  <strong>Education</strong> 
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <!-- University Field -->
                  <div class="form-group label-border my-3">
                    <label>University</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="university" required/>
                      <div class="invalid-feedback">
                        Please enter your university!
                      </div>
                  </div>
                  <!-- Discipline Field -->
                  <div class="form-group label-border my-4">
                    <label>Discipline</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="discipline" required/>
                      <div class="invalid-feedback">
                        Please enter your discipline!
                      </div>
                  </div>
                  <!-- CGPA Field -->
                  <div class="form-group label-border my-4">
                    <label>CGPA</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="cgpa" required/>
                      <div class="invalid-feedback">
                        Please enter your CGPA!
                      </div>
                  </div>
                  <!-- PETRONAS Scholar Field -->
                  <div class="form-group label-border my-2">
                    <label>Petronas Scholar</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="scholar" required/>
                      <div class="invalid-feedback">
                        Please choose yes or no!
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item mb-2">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed rounded-pill border border-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  <strong>Internship Details</strong> 
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  <!-- Start Date Field -->
                  <div class="form-group label-border my-3">
                    <label>Start Date</label>
                    <input type="date" class="form-control form-control-input rounded-lg" name="start_date" required/>
                      <div class="invalid-feedback">
                        Please enter your internship start date!
                      </div>
                  </div>
                  <!-- End Date Field -->
                  <div class="form-group label-border my-4">
                    <label>End Date</label>
                    <input type="date" class="form-control form-control-input rounded-lg" name="end_date" required/>
                      <div class="invalid-feedback">
                        Please enter your internship end date!
                      </div>
                  </div>
                  <div class="form-group label-border my-3">
                    <label>Department</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="intern_dept"/>
                      <div class="invalid-feedback">
                        Please enter department!
                      </div>
                  </div>
                  <div class="form-group label-border mt-4 mb-2">
                    <label>Division</label>
                    <select id="intern_div" name="intern_div" autocomplete="intern_div" class="mt-1 block w-full pl-6 pr-10 py-3 text-base shadow focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-lg">
                      <option selected disabled value="">Select Division</option>
                      <option value="Commercial Business">Commercial Business</option>
                      <option value="LPG Business">LPG Business</option>
                      <option value="Retail Business">Retail Business</option>
                      <option value="Supply and Distribution">Supply and Distribution</option>
                      <option value="Petronas Lubricants">Petronas Lubricants</option>
                      <option value="Management and Support Services">Management and Support Services</option>
                      <option value="Digital">Digital</option>
                      <option value="Strategy">Strategy</option>
                      <option value="Strategic Communication">Strategic Communication</option>
                      <option value="HRM">HRM</option>
                      <option value="Finance">Finance</option>
                      <option value="HSE">HSE</option>
                      <option value="Internal Audit">Internal Audit</option>
                      <option value="Technical Services">Technical Services</option>              
                    </select>                    
                      <div class="invalid-feedback">
                        Please enter division!
                      </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed rounded-pill border border-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                   <strong>Supervisor Details</strong> 
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                  <div class="accordion-body">
                  <!-- Supervisor Details -->
                    <div class="form-group label-border my-3">
                      <label>Supervisor Name</label>
                      <input type="text" class="form-control form-control-input rounded-lg" name="sv_name"/>
                      <div class="invalid-feedback">
                        Please enter your supervisor's name!
                      </div>
                    </div>
                    <div class="form-group label-border my-4">
                      <label>Department</label>
                      <input type="text" class="form-control form-control-input rounded-lg" name="department"/>
                      <div class="invalid-feedback">
                        Please enter department!
                      </div>
                    </div>
                    <div class="form-group label-border mt-4 mb-2">
                      <label>Division</label>
                      <select id="division" name="division" autocomplete="division" class="mt-1 block w-full pl-6 pr-10 py-3 text-base shadow focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-lg">
                        <option selected disabled value="">Select Division</option>
                        <option value="Commercial Business">Commercial Business</option>
                        <option value="LPG Business">LPG Business</option>
                        <option value="Retail Business">Retail Business</option>
                        <option value="Supply and Distribution">Supply and Distribution</option>
                        <option value="Petronas Lubricants">Petronas Lubricants</option>
                        <option value="Management and Support Services">Management and Support Services</option>
                        <option value="Digital">Digital</option>
                        <option value="Strategy">Strategy</option>
                        <option value="Strategic Communication">Strategic Communication</option>
                        <option value="HRM">HRM</option>
                        <option value="Finance">Finance</option>
                        <option value="HSE">HSE</option>
                        <option value="Internal Audit">Internal Audit</option>
                        <option value="Technical Services">Technical Services</option>
                      </select>                    
                    <div class="invalid-feedback">
                        Please enter division!
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>
         
      
        <!-- Button Section-->
        <div class="leave-card-button">
          <div  class="button-1">
              <button type="button" class="btn btn-md btn-outline-danger clear-form btn-padding-2 rounded-pill">Clear</button>
          </div>
          <div class="button-2">
              <button type="submit" class="btn btn-md btn-custom btn-padding-2 rounded-pill">Register</button>
          </div>
      </div>
    </div>
        </div>
    </form>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()

document.querySelector(".clear-form").addEventListener("click", () => {
 document.querySelector(".register-form").reset();
});

</script>

{% endblock %}