{% extends 'base.html' %}

{% block title %} Intern Profile Update {% endblock %}

{% block content %}

<!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <!-- Breadcrumb -->
    <ul class="breadcrumbs">
        <li class="breadcrumbs_item">
        <i class="fas fa-home" style="font-size: 16px;"></i>
            <a href="{{url_for('home')}}" class="breadcrumbs_link">Home</a>
        </li>
        <li class="breadcrumbs_item">
            <p class="breadcrumbs_link-active">Update Profile</p>
        </li>
    </ul>
	<br>
    <nav class="navbar navbar-light bg-light rounded-pill" style="padding-top: 0.75rem; padding-bottom: 0.75rem;">
      <div class="navbar-nav secondary-navbar-brand me-auto">
        <p class="ml-2">Update Profile</p>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>
<!-- Update Profile Content -->
<div class="container margin-1">
<!-- Form Section -->
    <form class="register-form needs-validation" action="{{ url_for('intern_profile') }}" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="register-card">
          <div class="leave-header div-control rounded-pill mt-2">
            <h4>Profile Details</h4>
          </div>
          <div class="accordion mx-4 px-2 my-4" id="accordionPanelsStayOpenExample">
            <!-- PERSONAL DETAILS SECTION -->
            <div class="accordion-item mb-2">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button rounded-pill border border-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <strong>Personal Details</strong> 
              </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                <!-- Name Field -->
                <div class="form-group label-border my-3">
                  <label>Name</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="name" value="{{ user['fullname'] }}" required>
                    <div class="invalid-feedback">
                      Please enter your name!
                    </div>
                </div>
                <!-- Password Field -->
                <div class="form-group label-border my-4">
                  <label>Password</label>
                  <input type="password" class="form-control form-control-input rounded-lg" name="password" value="{{ user['password'] }}" autocomplete="off" readonly>
                    <div class="invalid-feedback">
                      Please enter password!
                    </div>
                </div>
                <!-- Gender Field -->
                <div class="form-group label-border my-4">
                  <label>Gender</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="gender" value="{{ user['gender'] }}" readonly>
                      <div class="invalid-feedback">
                      Please choose your gender!
                    </div>
                </div>
                <!-- Nationality Field -->
                <div class="form-group label-border my-4">
                  <label>Nationality</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="nationality" value="{{ user['nationality'] }}" required>
                    <div class="invalid-feedback">
                      Please enter your nationality!
                    </div>
                </div>
                <!-- Personal Email Field -->
                <div class="form-group label-border my-4">
                  <label>Personal Email</label>
                  <input type="email" class="form-control form-control-input rounded-lg" name="email" value="{{ user['email'] }}" required/>
                    <div class="invalid-feedback">
                      Please enter your email!
                    </div>
                </div>
                <!-- Contact Number Field -->
                <div class="form-group label-border my-4">
                  <label>Contact No.</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="contact" value="{{ user['contact_no'] }}" required/>
                    <div class="invalid-feedback">
                      Please enter your contact number!
                    </div>
                </div>
                <!-- IC and Passport Field -->
                <div class="form-group label-border my-4">
                  <label>IC/Passport No.</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="passport" value="{{ user['nric'] }}" required/>
                    <div class="invalid-feedback">
                      Please enter your NRIC or Passport number!
                    </div>
                </div>
                <!-- Bank Account Field -->
                <div class="form-group label-border my-3">
                  <label>Bank Account No.</label>
                    {% if user['bank'] == 'None' or user['bank'] == ' '  %}
                    <input type="text" class="form-control form-control-input rounded-lg" name="bank" required/>
                    {% else %}
                    <input type="text" class="form-control form-control-input rounded-lg" name="bank" value="{{ user['bank'] }}" required/>
                    {% endif %}
                    <div class="invalid-feedback">
                      Please enter your bank account number!
                    </div>
                </div>
                </div>
              </div>
            </div>
            <!-- EDUCATION SECTION -->
            <div class="accordion-item mb-2">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed rounded-pill border border-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  <strong>Education</strong> 
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                <!-- University Field -->
                <div class="form-group label-border my-3">
                  <label>University</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="university" value="{{ user['university'] }}" required/>
                    <div class="invalid-feedback">
                      Please enter your university!
                    </div>
                </div>
                <!-- Discipline Field -->
                <div class="form-group label-border my-4">
                  <label>Discipline</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="discipline" value="{{ user['discipline'] }}" required/>
                    <div class="invalid-feedback">
                      Please enter your discipline!
                    </div>
                </div>
                <!-- CGPA Field -->
                <div class="form-group label-border my-4">
                  <label>CGPA</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="cgpa" value="{{ user['CGPA'] }}" required/>
                    <div class="invalid-feedback">
                      Please enter your CGPA!
                    </div>
                </div>
                <!-- PETRONAS Scholar Field -->
                <div class="form-group label-border my-3">
                  <label>PETRONAS Scholar</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="scholar" value="{{ user['scholar'] }}" required/>
                    <div class="invalid-feedback">
                      Please choose Yes or No!
                    </div>
                </div>
                </div>
              </div>
            </div>
            <!-- INTERNSHIP DETAILS -->
            <div class="accordion-item mb-2">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed rounded-pill border border-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  <strong>Internship Details</strong> 
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                <!-- Internship Start Date Field -->
                <div class="form-group label-border my-3">
                  <label>Start Date</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="start_date" value="{{ user['start_date'] }}" readonly required/>
                    <div class="invalid-feedback">
                      Please enter your internship start date!
                    </div>
                </div>
                <!-- Internship End Date Field -->
                <div class="form-group label-border my-4">
                  <label>End Date</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="end_date" value="{{ user['end_date'] }}" readonly required/>
                    <div class="invalid-feedback">
                      Please enter your internship end date!
                    </div>
                </div>
                <!-- Cost Center Field -->
                <div class="form-group label-border my-4">
                  <label>Cost Centre</label>
                    {% if user['cost_centre'] == 'None' or user['cost_centre'] == ' ' %}
                  <input type="text" class="form-control form-control-input rounded-lg" name="cost_centre" required/>
                    {% else %}
                  <input type="text" class="form-control form-control-input rounded-lg" name="cost_centre" value="{{ user['cost_centre'] }}" readonly required/>
                    {% endif %}
                    <div class="invalid-feedback">
                      Please enter your department cost centre!
                    </div>
                </div>
                <!-- Department Field -->
				        <div class="form-group label-border my-4">
                  <label>Department</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="intern_dept" value="{{ user['intern_dept'] }}" required/>
                    <div class="invalid-feedback">
                      Please enter department!
                    </div>
                </div>
                <!-- Division Field -->
       			    <div class="form-group label-border my-4">
                  <label>Division</label>
					          <select id="intern_div" name="intern_div" autocomplete="intern_div" class="mt-1 block w-full pl-6 pr-10 py-3 text-base shadow focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-lg" required>
								      <option selected value="{{ user['intern_div'] }}">{{ user['intern_div'] }}</option>
								      <option value="Commercial Business">Commercial Business</option>
								      <option value="LPG Business">LPG Business</option>
								      <option value="Retail Business">Retail Business</option>
								      <option value="Supply and Distribution">Supply and Distribution</option>
								      <option value="Petronas Lubricants">Petronas Lubricants</option>
								      <option value="Management and Support Services">Management and Support Services</option>
								      <option value="Digital">Digital</option>
								      <option value="Strategy">Strategy</option>
								      <option value="Strategic Communication">Strategic Communication</option>
								      <option value="HRM">HRM</option>
								      <option value="Finance">Finance</option>
								      <option value="HSE">HSE</option>
								      <option value="Internal Audit">Internal Audit</option>
								      <option value="Technical Services">Technical Services</option>              
					          </select>                    
                    <div class="invalid-feedback">
                      Please enter division!
                    </div>
                </div>
                <!-- PETRONAS Email -->
                <div class="form-group label-border my-3">
                  <label>PETRONAS Email</label>
                    {% if user['petronas_email'] == 'None' or user['petronas_email'] == ' '  %}
                    <input type="text" class="form-control form-control-input rounded-lg" name="petronas_email" required/>
                    {% else %}
                    <input type="text" class="form-control form-control-input rounded-lg" name="petronas_email" value="{{ user['petronas_email'] }}" required/>
                    {% endif %}
                    <div class="invalid-feedback">
                      Please enter your PETRONAS Email!
                    </div>
                </div>
                </div>
              </div>
            </div>
            <!-- SUPERVISOR DETAILS -->
            <div class="accordion-item mb-2">
              <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed rounded-pill border border-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                  <strong>Supervisor Details</strong> 
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                  <!-- Supervisor Name field -->
                  <div class="form-group label-border my-3">
                    <label>Supervisor Name</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="sv_name" value="{{ user['sv_name'] }}" required/>
                      <div class="invalid-feedback">
                        Please enter your supervisor's name!
                      </div>
                  </div>
                  <!-- Designation Field -->
                  <div class="form-group label-border my-4">
                    <label>Designation</label>
                      {% if user['designation'] == 'None' or user['designation'] == ' ' %}
                    <input type="text" class="form-control form-control-input rounded-lg" name="designation" required/>
                      {% else %}
                    <input type="text" class="form-control form-control-input rounded-lg" name="designation" value="{{ user['designation'] }}" required/>
                      {% endif %}
                      <div class="invalid-feedback">
                        Please enter your supervisor's designation!
                      </div>
                  </div>
                  <!-- Supervisor's Email Field -->
                  <div class="form-group label-border my-4">
                    <label>Supervisor's Email</label>
                      {% if user['sv_email'] == 'None' or user['sv_email'] == ' ' %}
                      <input type="text" class="form-control form-control-input rounded-lg" name="sv_email" required/>
                      {% else %}
                      <input type="text" class="form-control form-control-input rounded-lg" name="sv_email" value="{{ user['sv_email'] }}" required/>
                      {% endif %}
                      <div class="invalid-feedback">
                        Please enter your supervisor's email!
                      </div>
                  </div>
                  <!-- Department Field -->
                  <div class="form-group label-border my-4">
                    <label>Department</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="department" value="{{ user['department'] }}" required/>
                      <div class="invalid-feedback">
                        Please enter department!
                      </div>
                  </div>
                  <!-- Division Field -->
                  <div class="form-group label-border my-4">
                    <label>Division</label>
                    <select id="division" name="division" autocomplete="division" class="mt-1 block w-full pl-6 pr-10 py-3 text-base shadow focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-lg" required>
                      <option selected value="{{ user['division'] }}">{{ user['division'] }}</option>
                      <option value="Commercial Business">Commercial Business</option>
                      <option value="LPG Business">LPG Business</option>
                      <option value="Retail Business">Retail Business</option>
                      <option value="Supply and Distribution">Supply and Distribution</option>
                      <option value="Petronas Lubricants">Petronas Lubricants</option>
                      <option value="Management and Support Services">Management and Support Services</option>
                      <option value="Digital">Digital</option>
                      <option value="Strategy">Strategy</option>
                      <option value="Strategic Communication">Strategic Communication</option>
                      <option value="HRM">HRM</option>
                      <option value="Finance">Finance</option>
                      <option value="HSE">HSE</option>
                      <option value="Internal Audit">Internal Audit</option>
                      <option value="Technical Services">Technical Services</option>              
                    </select>                    
                    <div class="invalid-feedback">
                      Please enter division!
                    </div>
                  </div>
                  <!-- Location Field -->
                  <div class="form-group label-border my-3">
                    <label>Location</label>
                      {% if user['location'] == 'None' or user['location'] == ' ' %}
                      <input type="text" class="form-control form-control-input rounded-lg" name="location" required/>
                      {% else %}
                      <input type="text" class="form-control form-control-input rounded-lg" name="location" value="{{ user['location'] }}" required/>
                      {% endif %}
                      <div class="invalid-feedback">
                        Please enter location!
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- HR FOCAL DETAILS -->
            <div class="accordion-item mb-2">
              <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                <button class="accordion-button collapsed rounded-pill border border-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                  <strong>HR Focal Details</strong> 
                </button>
              </h2>
              <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body">
                  <!-- HR's Email Field - 1 -->
                  <div class="form-group label-border mt-3 mb-4">
                    <label>HR's Focal Email - Main</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="hr_email" value="{{ user['hr_email'] }}" required/>
                      <div class="invalid-feedback">
                        Please enter HR Focal's email!
                      </div>
                  </div>
                  <!-- HR's Email Field - 2 -->
                  <div class="form-group label-border my-4">
                    <label>HR's Focal Email - Additional</label>
                    <input type="text" class="form-control form-control-input rounded-lg" name="hr_additional_email" value="{{ user['hr_additional_email'] }}" required/>
                      <div class="invalid-feedback">
                        Please enter HR Focal's email!
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Button Section-->
            <div class="leave-card-button">
                <div  class="button-1">
                    <a  href="{{ url_for('home') }}" type="button" class="btn btn-md btn-outline-danger btn-padding-2 rounded-pill clear-form">Back</a>
                </div>
                <div class="button-2">
                    <button type="submit" class="btn btn-md btn-custom btn-padding-2 rounded-pill">Update</button>
                </div>
            </div>
        </div>

    </form>
    
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

{% endblock %}