{% extends 'base.html' %}

{% block title %} Intern Lobby {% endblock %}

{% block content %}

        <div class="wrap-webcase">
            <ul class="breadcrumbs">
                <li class="breadcrumbs_item">
                    <a href="{{url_for('home')}}" class="breadcrumbs_link">Home</a>
                </li>
                <li class="breadcrumbs_item">
                    <p class="breadcrumbs_link-active">Intern Lobby</p>
                </li>
            </ul>
            <br>
            <span class="webcase-form-title no-bottom-padding">
            Intern Lobby
            </span>
            <div class="hidden-padding"></div>
            <hr>

            <div class="wrap-input">
                <span class="label-input">What would you like to do?</span>
                <div id="box-selector" class="checkbox-selector">

                    <div class="selector">
                        <div class="selector-content">
                            <div class="div qtr">
                                <i class="fas fa-list-alt"></i>
                            </div>
                            <div class="div">
                                <p>Submit Onboarding Checklist</p>
                            </div>
                        </div>
                    </div>

                    <div class="selector" onclick="location.href='{{url_for('attendance_editor')}}'">
                        <div class="selector-content">
                            <div class="div qtr">
                                <i class="fas fa-stopwatch"></i>
                            </div>
                            <div class="div">
                                <p>Submit Attendance Sheet</p>
                            </div>
                        </div>
                    </div>

                    <div class="selector">
                        <div class="selector-content">
                            <div class="div qtr">
                                <i class="fas fa-bell"></i>
                            </div>
                            <div class="div">
                                <p>Request for Leave</p>
                            </div>
                        </div>
                    </div>

                    <div class="selector" onclick="parent.open('https://forms.office.com/Pages/ResponsePage.aspx?id=QYkuO0h5MUGXirLfxylQkYJy3HKc9IZCo1vNo5osERpUQzNUWEY1UlNJVUpXVzg0V0pSMjdIMTRIRSQlQCN0PWcu')">
                        <div class="selector-content">
                            <div class="div qtr">
                                <i class="fas fa-comments"></i>
                            </div>
                            <div class="div">
                                <p>Internship Feedback Form</p>
                            </div>
                        </div>
                    </div>

            </div>
         </div>
        </div>


{% endblock %}