{% extends 'base.html' %}

{% block title %} Attendance Sheet {% endblock %}

{% block content %}

<!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <!-- Breadcrumb -->
    <ul class="breadcrumbs">
        <li class="breadcrumbs_item">
        <i class="fas fa-home" style="font-size: 16px;"></i>
            <a href="{{url_for('home')}}" class="breadcrumbs_link">Home</a>
        </li>
        <li class="breadcrumbs_item">
            <p class="breadcrumbs_link-active">Leave Request Approval Status</p>
        </li>
    </ul>
    <nav class="navbar navbar-light bg-light">
      <div  class="navbar-nav secondary-navbar-brand me-auto">
        <p>Approval Status</p>
      </div>
      <div>
        <button style="margin-right: 1rem;" class="btn btn-secondary-custom" type="button" data-bs-toggle="modal" data-bs-target="#addsheet"><i class="fas fa-plus text-secondary"></i>New Sheet</button>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>

<!-- Leave Cards -->
<div class="container attendance margin-1">
    <div class="attendance-section">
       
            <h3>Oops! You have not created any of leave request yet. Create one now!</h3>
      
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addsheet" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-h5ledby="onboardingformh5" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-h5="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Document Upload -->
         <form action="{{ url_for('leave_request') }}" method="POST">
           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
              <div class="modal-footer">
                <button type="submit" class="btn btn-custom">Add Request</button>
              </div>
         </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

