{% extends 'base.html' %}

{% block title %} Request for Leave {% endblock %}

{% block content %}
<!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <!-- Breadcrumb -->
    <ul class="breadcrumbs">
        <li class="breadcrumbs_item">
        <i class="fas fa-home" style="font-size: 16px;"></i>
            <a href="{{url_for('home')}}" class="breadcrumbs_link">Home</a>
        </li>
        <li class="breadcrumbs_item">
            <p class="breadcrumbs_link-active">Request for Leave</p>
        </li>
    </ul>
	<br>
    <nav class="navbar navbar-light bg-light rounded-pill" style="padding-top: 0.75rem; padding-bottom: 0.75rem;">
      <div class="navbar-nav secondary-navbar-brand me-auto">
        <p class="ml-2">Request for Leave</p>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>
<center>
<!-- Request for Leave Content -->
<div class="container margin-1">
    <div class="leave-request lg:items-start md:items-start lg:flex-row sm:flex-col">
      <!-- Calendar Section -->
    <div class="calendar-cont lg:order-last md:order-first">
      <div class="calendar">
        <div class="month">
          <i class="fas fa-angle-left prev"></i>
          <div class="date mb-2">
            <h1></h1>
            <p></p>
          </div>
          <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days"></div>
      </div>
    </div>
      <!-- Form Section -->
    <div class="div-cont">
        <form action="{{ url_for('leave_request') }}" class="leave-form" enctype="multipart/form-data" method="POST" onsubmit="return formOK">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="leave-card lg:order-first md:order-last">
                <!-- Date Selection -->
                 <div class="leave-header div-control rounded-pill mt-2">
                    <h4>Date Selection</h4>
                 </div>
                 <div class="div-control">
                    <!-- <div class="form-group label-border"> -->
                       <!-- <label>Selected Date</label> -->
                      <input type="hidden" class="form-control form-control-input date-selection" name="date" readonly required/>
                    <!-- </div>  -->
                    <div class="form-group label-border">
                       <label>Duration</label>
                      <input type="number" class="form-control form-control-input rounded-lg" id="duration" name="duration" readonly required/>
                    </div>
                 </div>
                <!-- Purpose of Leave Taken -->
                 <div class="leave-header div-control rounded-pill">
                    <h4>Purpose of Leave Taken</h4>
                 </div>
                 <div class="div-control">
                    <div class="form-group label-border">
                      <span>
                        <i class="fas fa-chevron-down form-control-icon" aria-hidden="true"></i>
                      </span>
                        <label>Type of Leave</label>
                        <select class="form-control form-control-input program rounded-lg" id="program" name="program" required>
                            <option value="">-- Select Leave --</span></option>
                            <option value="Annual Leave">Annual Leave</option>
                            <option value="Medical">Medical</option>
                            <option value="Education">Education Leave</option>
                            <option value="Emergency">Emergency</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="form-group label-border">
                      <span>
                        <i class="fas fa-comment form-control-icon" aria-hidden="true"></i>
                      </span>
                        <label>Justification</label>
                        <textarea class="form-control form-control-input rounded-lg" name="justification" required></textarea>
                    </div>
                    <div class="form-group label-border">
                      <span>
                        <i class="fas fa-upload form-control-icon" aria-hidden="true"></i>
                      </span>
                        <label>Upload Document</label>
                      <input type="file" class="form-control form-control-input custom-file-input files rounded-lg py-3" id="files" name="files" multiple="true" accept=".pdf" onchange="validatePDF(this)" required style="padding-left: 3.0rem;"/>
                    </div>
                 </div>
                <!-- Emergency Contact -->
                 <div class="leave-header div-control rounded-pill">
                    <h4>Emergency Contact</h4>
                 </div>
                 <div class="div-control">
                    <div class="form-group label-border">
                      <span>
                        <i class="fas fa-user form-control-icon" aria-hidden="true"></i>
                      </span>
                        <label>Name</label>
                        {% if leave %}
                        <input type="text" class="form-control form-control-input rounded-lg" name="name" value="{{ leave['emergency_name'] }}" required/>
                        {% else %}
                        <input type="text" class="form-control form-control-input rounded-lg" name="name" required/>
                        {% endif %}
                    </div>
                    <div class="form-group label-border">
                      <span>
                        <i class="fas fas fa-hand-holding-heart form-control-icon" aria-hidden="true"></i>
                      </span>
                      <label>Relation</label>
                        {% if leave %}
                        <input type="text" class="form-control form-control-input rounded-lg" name="relation" value="{{ leave['relation'] }}" required/>
                        {% else %}
                        <input type="text" class="form-control form-control-input rounded-lg" name="relation" required/>
                        {% endif %}
                    </div>
                    <div class="form-group label-border">
                      <span>
                        <i class="fas fa-map-marked-alt form-control-icon" aria-hidden="true"></i>
                      </span>
                        <label>Address</label>
                        {% if leave %}
                        <input type="text" class="form-control form-control-input rounded-lg" name="address" value="{{ leave['address'] }}" required/>
                        {% else %}
                        <input type="text" class="form-control form-control-input rounded-lg" name="address" required/>
                        {% endif %}
                    </div>
                    <div class="form-group label-border">
                      <span>
                        <i class="fas fa-phone form-control-icon" aria-hidden="true"></i>
                      </span>
                        <label>Contact No.</label>
                        {% if leave %}
                        <input type="text" class="form-control form-control-input rounded-lg" name="contact" value="{{ leave['contact'] }}" required/>
                        {% else %}
                        <input type="text" class="form-control form-control-input rounded-lg" name="contact" required/>
                        {% endif %}
                    </div>
                 </div>
                <div class="leave-card-button">
                    <div  class="button-1">
                        <a href="{{url_for('home')}}" class="btn btn-md btn-outline-danger btn-padding-2 clear-form rounded-pill">Back</a>
                    </div>
                    <div class="button-2">
                        <button type="submit" class="btn btn-md btn-custom btn-padding-2 rounded-pill">Submit</button>
                    </div>
                </div>
            </div>
        </form>
  </div>
  </div>
  </div>

</center>
<script src="{{ url_for('static', filename='js/leave-request.js') }}" charset="utf-8"></script>

{% endblock %}