{% extends 'base.html' %}

{% block title %} Intern Login {% endblock %}

{% block content %}

<!-- Login Box -->
    <div class="container">
     <div class="login-section">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
         <!-- Login Content -->
         <div class="login-inner">
             <div class="login-header form-control rounded-pill py-3 shadow-md">
                <h3>GITConnect Login</h3>
             </div>
             <form action="" method="POST">
               <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="login-content">
                <div class="form-group label-border">
                  <span>
                    <i class="fas fa-user form-control-icon" aria-hidden="true"></i>
                  </span>
                  <label>Email</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="username" required/>
                </div>
                <div class="form-group label-border">
                  <span>
                    <i class="fas fa-key form-control-icon" aria-hidden="true"></i>
                  </span>
                  <label>Password</label>
                  <input type="password" class="form-control form-control-input rounded-lg" name="password" required/>
                </div>
                 <button type="submit" class="btn btn-md btn-custom btn-padding-1 rounded-pill shadow-md">Sign In</button>
                <div class="form-group">
                </div>
             </div>
             </form>
            <!-- Register Content -->
             <div style="border-top: 1px solid #00A19C;">
                 <div style="align-items: center; margin-top: 2.0rem;">
                    <h5>New Account?<a href="{{ url_for('intern_register') }}" title="Register now!"><b> Register</b></a></h5>
                 </div>
             </div>
         </div>
     </div>
    </div>


{% endblock %}