<!DOCTYPE html>
<html>
<head>

<!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	
<!-- CSS documents-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/asset.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/app.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/components-v2.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/solid.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/all.css') }}">

    {% block head %} {% endblock %}

    <title>{% block title %} HR Executives {% endblock %}</title>
</head>
<body>
<!-- Navigation Bar -->
<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-custom">
	  <div class="container">
		<a class="mr-4" href="/staff"><img src="{{ url_for('static', filename='image/WhiteLogo2.png') }}" alt="PETRONAS"></a>
		<button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggle">
		  <div class="navbar-nav me-auto navbar-responsive">
			  <h5 style="color:white;">HR Executives</h5>
		  </div>
		  <div class="navbar-nav d-flex navbar-responsive">
			{% if session.loggedin %}
			  <div class="padding-mobile" style="padding-right: 1rem;">
				  <a href="{{ url_for('staff_profile') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">{{ session.fullname }}</h5></a>
			  </div>
			  <div class="padding-mobile border-line" style="border-left: 2px solid white; padding-left: 1rem;">
				  <a href="{{ url_for('logout') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign Out</h5></a>
			  </div>
			{% else %}
			  <div class="padding-mobile" style="padding-right: 1rem;">
				  <a href="{{ url_for('intern_login') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign In</h5></a>
			  </div>
			{% endif %}
		  </div>
		</div>
	  </div>
	</nav>
  </header>

<main role="main" class="main">
    {% block content %}

<!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <!-- Breadcrumb -->
		<ul class="breadcrumbs">
			<li class="breadcrumbs_item">
			<i class="fas fa-home" style="font-size: 16px;"></i>
				<a href="{{url_for('staff_lobby')}}" class="breadcrumbs_link">Home</a>
			</li>
			<li class="breadcrumbs_item">
				<a href="{{url_for('manage_files')}}" class="breadcrumbs_link">Manage Submitted Files</a>
			</li>
			<li class="breadcrumbs_item">
				<a href="{{url_for('manage_intern', id=interns.id)}}" class="breadcrumbs_link">{{interns.fullname}}</a>
			</li>
			<li class="breadcrumbs_item">
				<p class="breadcrumbs_link-active">Onboarding Checklist</p>
			</li>
		</ul>

		<br>
	
		<nav class="navbar navbar-light bg-light rounded-pill" style="padding-top: 0.75rem; padding-bottom: 0.75rem;">
		  <div class="navbar-nav secondary-navbar-brand me-auto">
			<p class="pl-2">Manage Submitted Files</p>
		  </div>
		</nav>
		
		<br><br><br>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>

<!-- Onboarding Checklist Content -->

<!-- Search bar -->
<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ]
  }
  ```
-->


<!-- Stacked List -->

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">


<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul class="divide-y divide-gray-200">
    <form class="register-form needs-validation" action="{{ url_for('manage_intern_onboarding', id=interns.id) }}" method="POST" novalidate>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <li>
        <div class="flex items-center px-4 py-4 sm:px-6">
          <div class="min-w-0 flex-1 flex items-center">
            <div class="flex-shrink-0">
					<span class="inline-block h-10 w-10 rounded-full overflow-hidden bg-gray-100">
					  <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
						<path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
					  </svg>
					</span>			  
             </div>
            <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
              <div>
                <p class="text-sm font-medium text-teal-500 truncate">{{interns.fullname}}</p>
                <p class="mt-2 flex items-center text-sm text-gray-500">
                  <!-- Heroicon name: solid/mail -->
                  <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                  </svg>
                  <span class="truncate">{{interns.email}}</span>
                </p>
              </div>
              <div class="hidden md:block">
                <div>
                  <p class="text-sm text-gray-900">
					PDB
                  </p>
                  <p class="mt-2 flex items-center text-sm text-gray-500">
                    <!-- Heroicon name: solid/check-circle -->
                     {{interns.intern_dept}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            
          </div>
        </div>
    </li>
  </form>
  </ul>
  <br>
	<!-- This example requires Tailwind CSS v2.0+ -->
	<div class="relative">
	  <div class="absolute inset-0 flex items-center" aria-hidden="true">
		<div class="w-full border-t border-gray-300"></div>
	  </div>
	  <div class="relative flex justify-center">
		<span class="px-2 bg-white text-sm text-gray-500">
		</span>
	  </div>
	</div>

		<!-- This example requires Tailwind CSS v2.0+ -->
		<div class="mt-10 pb-12 bg-white sm:pb-16">
			<div class="relative">
			  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
				<div class="max-w-screen-xl mx-auto">
				<div>
				 Onboarding Checklist
				
						<br><br>
						<!-- Stacked list -->
						<div class="bg-white shadow overflow-hidden sm:rounded-md">
						  <ul class="divide-y divide-gray-200">
						  {% for secrecy in secrecy_agreement %}
							<li>
							  <a href="{{ url_for('static', filename='uploads/onboarding/')}}{{secrecy.filename}}" class="block hover:bg-gray-50">
								<div class="flex items-center px-4 py-4 sm:px-6">
								  <div class="min-w-0 flex-1 flex items-center">
									<div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
									  <div class="hidden md:block">
										<div>
										  <p class="mt-2 flex items-center text-sm text-gray-500">
											 {{secrecy.filename}}
										  </p>
										</div>
									  </div>
									</div>
								  </div>
								  <div>
									<!-- Heroicon name: solid/chevron-right -->
									<svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
									  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
									</svg>
								  </div>
								</div>
							  </a>
							</li>
							{% endfor %}
						   
						    {% for indemnity in indemnity_letter %}
							<li>
							  <a href="{{ url_for('static', filename='uploads/onboarding/')}}{{indemnity.filename}}" class="block hover:bg-gray-50">
								<div class="flex items-center px-4 py-4 sm:px-6">
								  <div class="min-w-0 flex-1 flex items-center">
									<div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
									  <div class="hidden md:block">
										<div>
										  <p class="mt-2 flex items-center text-sm text-gray-500">
											 {{indemnity.filename}}
										  </p>
										</div>
									  </div>
									</div>
								  </div>
								  <div>
									<!-- Heroicon name: solid/chevron-right -->
									<svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
									  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
									</svg>
								  </div>
								</div>
							  </a>
							</li>
							{% endfor %}

						  {% for insurance in insurance_letter %}
							<li>
							  <a href="{{ url_for('static', filename='uploads/onboarding/')}}{{insurance.filename}}" class="block hover:bg-gray-50">
								<div class="flex items-center px-4 py-4 sm:px-6">
								  <div class="min-w-0 flex-1 flex items-center">
									<div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
									  <div class="hidden md:block">
										<div>
										  <p class="mt-2 flex items-center text-sm text-gray-500">
											 {{insurance.filename}}
										  </p>
										</div>
									  </div>
									</div>
								  </div>
								  <div>
									<!-- Heroicon name: solid/chevron-right -->
									<svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
									  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
									</svg>
								  </div>
								</div>
							  </a>
							</li>
							{% endfor %}

						  {% for offer in offer_letter %}
							<li>
							  <a href="{{ url_for('static', filename='uploads/onboarding/')}}{{offer.filename}}" class="block hover:bg-gray-50">
								<div class="flex items-center px-4 py-4 sm:px-6">
								  <div class="min-w-0 flex-1 flex items-center">
									<div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
									  <div class="hidden md:block">
										<div>
										  <p class="mt-2 flex items-center text-sm text-gray-500">
											 {{offer.filename}}
										  </p>
										</div>
									  </div>
									</div>
								  </div>
								  <div>
									<!-- Heroicon name: solid/chevron-right -->
									<svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
									  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
									</svg>
								  </div>
								</div>
							  </a>
							</li>
							{% endfor %}

						  {% for bank in bank_statement %}
							<li>
							  <a href="{{ url_for('static', filename='uploads/onboarding/')}}{{bank.filename}}" class="block hover:bg-gray-50">
								<div class="flex items-center px-4 py-4 sm:px-6">
								  <div class="min-w-0 flex-1 flex items-center">
									<div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
									  <div class="hidden md:block">
										<div>
										  <p class="mt-2 flex items-center text-sm text-gray-500">
											 {{bank.filename}}
										  </p>
										</div>
									  </div>
									</div>
								  </div>
								  <div>
									<!-- Heroicon name: solid/chevron-right -->
									<svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
									  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
									</svg>
								  </div>
								</div>
							  </a>
							</li>
							{% endfor %}

						  {% for ic in copy_nric %}
							<li>
							  <a href="{{ url_for('static', filename='uploads/onboarding/')}}{{ic.filename}}" class="block hover:bg-gray-50">
								<div class="flex items-center px-4 py-4 sm:px-6">
								  <div class="min-w-0 flex-1 flex items-center">
									<div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
									  <div class="hidden md:block">
										<div>
										  <p class="mt-2 flex items-center text-sm text-gray-500">
											 {{ic.filename}}
										  </p>
										</div>
									  </div>
									</div>
								  </div>
								  <div>
									<!-- Heroicon name: solid/chevron-right -->
									<svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
									  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
									</svg>
								  </div>
								</div>
							  </a>
							</li>
							{% endfor %}
						  </ul>
						</div>
				</div>
			  </div>
			</div>
		  </div>

</div>

</div>




{% endblock %}
</main>

<!-- Footer -->
<footer class="footer bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
      <p>© 2021 Copyright | Digital Division, Petronas Dagangan Berhad (PDB)</p>
  </div>
  <!-- Copyright -->
</footer>

<!-- General JS --->
<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" charset="utf-8"></script> 
<script src="{{ url_for('static', filename='js/app.js') }}" charset="utf-8"></script> 
<script src="{{ url_for('static', filename='js/components-v2.js') }}" charset="utf-8"></script> 
<script src="{{ url_for('static', filename='js/iframe.js') }}" charset="utf-8"></script> 
<script src="{{ url_for('static', filename='js/prism.js') }}" charset="utf-8"></script> 
	
</body>
</html>
