{% extends 'base.html' %}

{% block title %} Intern Onboarding Checklist {% endblock %}

{% block content %}

<!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <!-- Breadcrumb -->
    <ul class="breadcrumbs">
        <li class="breadcrumbs_item">
        <i class="fas fa-home" style="font-size: 16px;"></i>
            <a href="{{url_for('home')}}" class="breadcrumbs_link">Home</a>
        </li>
        <li class="breadcrumbs_item">
            <p class="breadcrumbs_link-active">Intern Onboarding Checklist</p>
        </li>
    </ul>
	<br>
    <nav class="navbar navbar-light bg-light rounded-pill" style="padding-top: 0.75rem; padding-bottom: 0.75rem;"> 
      <div class="navbar-nav secondary-navbar-brand me-auto">
        <p class="ml-2">Intern Onboarding Checklist</p>
      </div>
      <div class="navbar-nav" style="border-left: 1px solid black; padding: 0 1rem;">
          <p>Completion: <span class="completion"></span></p>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>

<!-- Onboarding Checklist Content -->
<div class="container">
<!-- Form Section -->
    <form class="onboarding-form" action="{{ url_for('onboarding') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <!-- Briefing Section-->
        <div class="onboarding-header rounded-pill shadow-md" id="mark-1">
            <h5 class="ml-2 my-1">1. Briefing</h5>
            <h5 class="mark mr-2"></h5>
        </div>
        <table class="table table-hover" id="table1">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Description</th>
              <th scope="col">By</th>
              <th scope="col">Submit To / Location</th>
              <th scope="col">When</th>
              <th scope="col">Action</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1.1</th>
              <td>Briefing by HR Focal Person</td>
              <td>HR / Intern</td>
              <td>Microsoft Teams</td>
              <td>First Week</td>
              <td>N/A</td>
                {% if item['item_1'] == 'true' %}
              <td><input class="form-check-input" type="checkbox" name="item" value="1" checked="checked"></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="1"></td>
                {% endif %}
            </tr>
            <tr>
              <th scope="row">1.2</th>
              <td>Briefing by supervisor</td>
              <td>Supervisor / Intern</td>
              <td>Microsoft Teams</td>
              <td>First Week</td>
              <td>N/A</td>
                {% if item['item_2'] == 'true'%}
              <td><input class="form-check-input" type="checkbox" name="item" value="2" checked></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="2"></td>
                {% endif %}
            </tr>
          </tbody>
        </table>
        <!-- Document Upload Section -->
        <div class="onboarding-header rounded-pill shadow-md" id="mark-2">
            <h5 class="ml-2 my-1">2. Document Uploads</h5>
            <h5 class="mark mr-2"></h5>
        </div>
        <table class="table table-hover" id="table2">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Description</th>
              <th scope="col">By</th>
              <th scope="col">Submit To / Location</th>
              <th scope="col">When</th>
              <th scope="col">Action</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">2.1</th>
              <td>Secrecy Agreement
                {% if item['item_3'] == 'true'%}
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
                    File Uploaded
                  </span>
                {% else %}
                {% endif %}
              </td>
              <td>Intern</td>
              <td>GITConnect</td>
              <td>First Day</td>
              <td><button type="button" class="btn btn-secondary rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#secrecyagreement">Document Upload</button></td>
                {% if item['item_3'] == 'true'%}
              <td><input class="form-check-input" type="checkbox" name="item" value="3" checked></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="3"></td>
                {% endif %}
            </tr>
            <tr>
              <th scope="row">2.2</th>
              <td>University Indemnity Letter
                {% if item['item_4'] == 'true'%}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
                  File Uploaded
                </span>
              {% else %}
              {% endif %}
              </td>
              <td>Intern</td>
              <td>GITConnect</td>
              <td>First Day</td>
              <td><button type="button" class="btn btn-secondary rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#indemnityletter">Document Upload</button></td>
                {% if item['item_4'] == 'true'%}
              <td><input class="form-check-input" type="checkbox" name="item" value="4" checked></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="4"></td>
                {% endif %}
            </tr>
            <tr>
              <th scope="row">2.3</th>
              <td>Insurance Letter
                {% if item['item_5'] == 'true'%}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
                  File Uploaded
                </span>
              {% else %}
              {% endif %}
              </td>
              <td>Intern</td>
              <td>GITConnect</td>
              <td>First Day</td>
              <td><button type="button" class="btn btn-secondary rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#insuranceletter">Document Upload</button></td>
                {% if item['item_5'] == 'true'%}
              <td><input class="form-check-input" type="checkbox" name="item" value="5" checked></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="5"></td>
                {% endif %}
            </tr>
            <tr>
              <th scope="row">2.4</th>
              <td>Offer Letter
                {% if item['item_6'] == 'true'%}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
                  File Uploaded
                </span>
              {% else %}
              {% endif %}
              </td>
              <td>Intern</td>
              <td>GITConnect</td>
              <td>First Week</td>
              <td><button type="button" class="btn btn-secondary rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#offerletter">Document Upload</button></td>
                {% if item['item_6'] == 'true'%}
              <td><input class="form-check-input" type="checkbox" name="item" value="6" checked></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="6"></td>
                {% endif %}
            </tr>
            <tr>
              <th scope="row">2.5</th>
              <td>Copy of Identification Card/Passport No.
                {% if item['item_7'] == 'true'%}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
                  File Uploaded
                </span>
              {% else %}
              {% endif %}
              </td> 
              <td>Intern</td>
              <td>GITConnect</td>
              <td>First Week</td>
              <td><button type="button" class="btn btn-secondary rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#copypassport">Document Upload</button></td>
                {% if item['item_7'] == 'true'%}
              <td><input class="form-check-input" type="checkbox" name="item" value="7" checked></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="7"></td>
                {% endif %}
            </tr>
            <th scope="row">2.6</th>
              <td>Bank Statement (Up to 3 months)
                {% if item['item_8'] == 'true'%}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
                  File Uploaded
                </span>
              {% else %}
              {% endif %}
              </td>
              <td>Intern</td>
              <td>GITConnect</td>
              <td>First Week</td>
              <td><button type="button" class="btn btn-secondary rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#bankstatement">Document Upload</button></td>
                {% if item['item_8'] == 'true'%}
              <td><input class="form-check-input" type="checkbox" name="item" value="8" checked></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="8"></td>
                {% endif %}
            </tr>
          </tbody>
        </table>
        <!-- Security and Email -->
        <div class="onboarding-header rounded-pill shadow-md" id="mark-3">
            <h5 class="ml-2 my-1">3. Security and Utilities</h5>
            <h5 class="mark mr-2"></h5>
        </div>
        <table class="table table-hover" id="table3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Description</th>
              <th scope="col">By</th>
              <th scope="col">Submit To / Location</th>
              <th scope="col">When</th>
              <th scope="col">Action</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">3.1</th>
              <td>Registration Form for Staff ID Card</td>
              <td>Intern</td>
              <td>Group Security Level 11, Tower 1</td>
              <td>First Day</td>
              <td>N/A</td>
                {% if item['item_9'] == 'true'%}
              <td><input class="form-check-input" type="checkbox" name="item" value="9" checked></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="9"></td>
                {% endif %}
            </tr>
            <tr>
              <th scope="row">3.2</th>
              <td>Company's Laptop</td>
              <td>Supervisor / Intern</td>
              <td>Level 32, Tower 1</td>
              <td>First Day</td>
              <td>N/A</td>
                {% if item['item_10'] == 'true'%}
              <td><input class="form-check-input" type="checkbox" name="item" value="10" checked></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="10"></td>
                {% endif %}
            </tr>
            <tr>
              <th scope="row">3.3</th>
              <td>Acquired Petronas ID and Password</td>
              <td>Supervisor / Intern</td>
              <td>Level 32, Tower 1</td>
              <td>First Day</td>
              <td>N/A</td>
                {% if item['item_11'] == 'true'%}
              <td><input class="form-check-input" type="checkbox" name="item" value="11" checked></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="11"></td>
                {% endif %}
            </tr>
            <tr>
              <th scope="row">3.4</th>
              <td>Update Emails - personal email to Petronas email, supervisor's email and HR focal's email </td>
              <td>Intern</td>
              <td>GITConnect</td>
              <td>First Week</td>
              <td><a href="{{ url_for('intern_profile') }}">Update Profile</a></td>
                {% if item['item_12'] == 'true' %}
              <td><input class="form-check-input" type="checkbox" name="item" value="12" checked></td>
                {% else %}
              <td><input class="form-check-input" type="checkbox" name="item" value="12"></td>
                {% endif %}
            </tr>
          </tbody>
        </table>
        <div style="display: flex; justify-content: flex-end; margin-top: 2rem; margin-bottom: 2rem;">
        <button type="submit" class="btn btn-custom btn-padding-2 rounded-pill" style="margin-right: 1rem;">Save</button>
        <button type="button" class="btn btn-custom btn-padding-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#submit_checklist">Submit</button>
        </div>

    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="submit_checklist" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-h5ledby="onboardingformh5" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-2xl">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Submission of Checklist?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-h5="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Document Upload -->
          {% set count = 1 %}
          <p class="d-flex justify-content-center mt-2 h3">Completion: {{ item['completion'] }}% </p>
          <p>&nbsp;</p>
         <form action="{{ url_for('onboarding_submit') }}" method="POST">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
             {% if item %}
            {% if item['completion'] < 100 %}
              <h6>Note: Few items are not checked, put your reason on the remarks field </h6>
              <p>&nbsp;</p>
              <div class="form-group label-border">
                <label for="formGroupInput">Remarks</label>
                  <textarea type="text" class="form-control form-control-input rounded-lg" id="formGroupInput" name="remarks" required></textarea>
              </div>
            {% endif %}
             {% endif %}
          <div class="modal-footer">
            <button type="submit" class="btn btn-custom btn-padding-2 rounded-pill">Submit</button>
          </div>
         </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="secrecyagreement" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-h5ledby="onboardingformh5" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-2xl">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Secrecy Agreement Upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-h5="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Document Upload -->
          {% set count = 1 %}
         <form action="{{ url_for('onboarding_upload', count=count) }}" enctype="multipart/form-data" method="POST">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
         <div class="purpose-leave">
            <div class="form-group">
              <span>
                <i class="fas fa-upload form-control-icon " aria-hidden="true"></i>
              </span>
              <input type="file" class="form-control form-control-input py-3" name="intern_file"/ style="padding-left: 3.0rem;">
            </div>
         </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-custom btn-padding-2 rounded-pill">Upload</button>
          </div>
         </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="indemnityletter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-h5ledby="onboardingformh5" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-2xl">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">University Indeminity Letter Upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-h5="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Document Upload -->
          {% set count = 2 %}
         <form action="{{ url_for('onboarding_upload', count=count) }}" enctype="multipart/form-data" method="POST">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
         <div class="purpose-leave">
            <div class="form-group">
              <span>
                <i class="fas fa-upload form-control-icon" aria-hidden="true"></i>
              </span>
              <input type="file" class="form-control form-control-input py-3" name="intern_file"/ style="padding-left: 3.0rem;">
            </div>
         </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-custom btn-padding-2 rounded-pill">Upload</button>
          </div>
         </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="insuranceletter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-h5ledby="onboardingformh5" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-2xl">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Insurance Letter Upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-h5="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Document Upload -->
          {% set count = 3 %}
         <form action="{{ url_for('onboarding_upload', count=count) }}" enctype="multipart/form-data" method="POST">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
         <div class="purpose-leave">
            <div class="form-group">
              <span>
                <i class="fas fa-upload form-control-icon" aria-hidden="true"></i>
              </span>
              <input type="file" class="form-control form-control-input py-3" name="intern_file"/ style="padding-left: 3.0rem;">
            </div>
         </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-custom btn-padding-2 rounded-pill">Upload</button>
          </div>
         </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="offerletter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-h5ledby="vendordatah5" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-2xl">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Offer Letter Upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-h5="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Document Upload -->
          {% set count = 4 %}
         <form action="{{ url_for('onboarding_upload', count=count) }}" enctype="multipart/form-data" method="POST">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
         <div class="purpose-leave">
            <div class="form-group label-border">
              <span>
                <i class="fas fa-upload form-control-icon" aria-hidden="true"></i>
              </span>
              <input type="file" class="form-control form-control-input py-3" name="intern_file"/ style="padding-left: 3.0rem;">
            </div>
         </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-custom btn-padding-2 rounded-pill">Upload</button>
          </div>
         </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="copypassport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-h5ledby="vendordatah5" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-2xl">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Copy of Identification Card/Passport No. Upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-h5="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Document Upload -->
          {% set count = 5 %}
         <form action="{{ url_for('onboarding_upload', count=count) }}" enctype="multipart/form-data" method="POST">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
         <div class="purpose-leave">
            <div class="form-group">
              <span>
                <i class="fas fa-upload form-control-icon" aria-hidden="true"></i>
              </span>
              <input type="file" class="form-control form-control-input py-3" name="intern_file"/ style="padding-left: 3.0rem;">
            </div>
         </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-custom btn-padding-2 rounded-pill">Upload</button>
          </div>
         </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bankstatement" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-h5ledby="vendordatah5" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-2xl">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bank Statement (Up to 3 months) Upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-h5="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Document Upload -->
          {% set count = 6 %}
         <form action="{{ url_for('onboarding_upload', count=count) }}" enctype="multipart/form-data" method="POST">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
         <div class="purpose-leave">
            <div class="form-group">
              <span>
                <i class="fas fa-upload form-control-icon" aria-hidden="true"></i>
              </span>
              <input type="file" class="form-control form-control-input py-3" name="intern_file"/ style="padding-left: 3.0rem;">
            </div>
         </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-custom btn-padding-2 rounded-pill">Upload</button>
          </div>
         </form>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/checklist.js') }}" charset="utf-8"></script>
<script>

let completion = document.querySelector('.navbar-nav .completion');
let completionInput = document.querySelector('.navbar-nav input');
let completionCount = {{ item['completion'] }};

let  table1 = document.querySelector('#table1');
let  checkbox1 = document.querySelectorAll('#table1 .form-check-input');
let  mark1 = document.querySelector('#mark-1 .mark');

let count1 = {{ item['count1'] }};

completion.innerHTML = "{{ item['completion'] }}%";

for (let i = 0; i < checkbox1.length; i++) {
   mark1.innerHTML = "{{ item['count1'] }}/2";
   checkbox1[i].addEventListener("change", () => {
        if (checkbox1[i].checked == true) {
            count1++;
            completionCount += 5;
        }
        else {
            count1--;
            completionCount -= 5;
        }
        mark1.innerHTML = count1 + '/' + checkbox1.length;
        completion.innerHTML = completionCount + '%';
        completionInput.value = completionCount;
        console.log(completionInput.value);
   });

}

let  table2 = document.querySelector('#table2');
let  checkbox2 = document.querySelectorAll('#table2 .form-check-input');
let  mark2 = document.querySelector('#mark-2 .mark');

let count2 = {{ item['count2'] }};

for (let i = 0; i < checkbox2.length; i++) {
   mark2.innerHTML = "{{ item['count2'] }}/6";
   checkbox2[i].addEventListener("change", () => {
        if (checkbox2[i].checked == true) {
            console.log(checkbox2[i].checked);
            count2++;
            completionCount += 10;
        }
        else {
            count2--;
            completionCount -= 10;
        }
        mark2.innerHTML = count2 + '/' + checkbox2.length;
        completion.innerHTML = completionCount + '%';
        completionInput.value = completionCount;
   });

}

let  table3 = document.querySelector('#table3');
let  checkbox3 = document.querySelectorAll('#table3 .form-check-input');
let  mark3 = document.querySelector('#mark-3 .mark');

let count3 = {{ item['count3'] }};

for (let i = 0; i < checkbox3.length; i++) {
   mark3.innerHTML = "{{ item['count3'] }}/4";
   checkbox3[i].addEventListener("change", () => {
        if (checkbox3[i].checked == true) {
            console.log(checkbox3[i].checked);
            count3++;
            completionCount += 7.5;
        }
        else {
            count3--;
            completionCount -= 7.5;
        }
        mark3.innerHTML = count3 + '/' + checkbox3.length;
        completion.innerHTML = completionCount + '%';
        completionInput.value = completionCount;
   });

}


</script>
{% endblock %}