<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- CSS documents-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/asset.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/solid.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/all.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/app.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/components-v2.css') }}">

    {% block head %} {% endblock %}

    <title>{% block title %} HR Executives {% endblock %}</title>
</head>
<body>
<!-- Navigation Bar -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-custom">
        <div class="container">
          <a class="mr-4" href="/staff"><img src="{{ url_for('static', filename='image/WhiteLogo2.png') }}" alt="PETRONAS"></a>
          <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav me-auto navbar-responsive">
                <h5 style="color:white;">HR Executives</h5>
            </div>
            <div class="navbar-nav d-flex navbar-responsive">
              {% if session.loggedin %}
                <div class="padding-mobile" style="padding-right: 1rem;">
                    <a href="{{ url_for('staff_profile') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">{{ session.fullname }}</h5></a>
                </div>
                <div class="padding-mobile border-line" style="border-left: 2px solid white; padding-left: 1rem;">
                    <a href="{{ url_for('logout') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign Out</h5></a>
                </div>
              {% else %}
                <div class="padding-mobile" style="padding-right: 1rem;">
                    <a href="{{ url_for('intern_login') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign In</h5></a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="main">
      <!-- Hero section 
      <div class="relative">-->
      {% block content %}
<!-- Carousel Section -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="background-image: url('/static/image/BACKGROUND.png'); background-repeat: no-repeat; background-size: cover; position:absolute;">
  <!--Carousel 1-->
    <div class="carousel-item active">
        <div class="row align-items-center" style="height: 525px;">
          <div class="col"></div>
            <div class="col-md-4">
              <h1 class="display-3 text-white">OUR <br> CULTURAL <br> BELIEFS</h1>
              <ul class="my-3 text-white">
                <li class=""><i class="fas fa-circle fa-xs"></i> Customer Focused</li>
                <li class=""><i class="fas fa-circle fa-xs"></i> Speak Up</li>
                <li class=""><i class="fas fa-circle fa-xs"></i> Be Interprising</li>
                <li class=""><i class="fas fa-circle fa-xs"></i> Courage to Act</li>
                <li class=""><i class="fas fa-circle fa-xs"></i> Innovative Now</li>
              </ul>
            </div>
              <div class="col-md-4" style="padding-left: 70px;">
                <img src="{{ url_for('static', filename='image/WORKCULTURE.png') }} " width="400" height="400">
           </div>
           <div class="col"></div>
        </div>
    </div>
    <!--Carousel 2-->
    <div class="carousel-item">
        <div class="row align-items-center" style="height: 525px;">
          <div class="col"></div>
            <div class="col-md-4">
              <h1 class="display-3 text-white">DRESS <br> CODE <br></h1>
              <p class="my-4 py-3 text-white">All employee should dress neatly, <br> appropriately and decently during working hours.</p>
              <a href="{{ url_for('static', filename='resources/dresscode.pdf') }}" target="_blank" class="btn btn-outline-light rounded-pill border-2">
                <h5 class="mx-4">More Details</h5>
              </a>
            </div>
              <div class="col-md-4" style="padding-left: 70px;">
                <img src="{{ url_for('static', filename='image/DRESSCODE.png') }}" width="400" height="400">
              </div>
        <div class="col"></div>
    </div>
    </div>
    <!--Carousel 3-->
    <div class="carousel-item">
        <div class="row align-items-center" style="height: 500px;">
          <div class="col"></div>
            <div class="col-md-4">
              <h1 class="display-3 text-white">What is GITConnect?</h1>
              <p class="my-4 py-3 text-white">Graduate-In-Training (GIT) Connect serves as a one stop 
                <br> center for internship management between the interns, 
                <br> human resources personnel and intern's supervisor.
              </p>
              <a href="{{ url_for('static', filename='resources/GITConnect - User Manual.pdf') }}" target="_blank" class="btn btn-outline-light rounded-pill border-2">
                <h5 class="mx-4">More Details</h5>
              </a>
            </div>
            <div class="col-md-4" style="padding-left: 20px;">
              <img src="{{ url_for('static', filename='image/700_700.png') }}" width="525" height="525">
            </div>
        <div class="col"></div>
    </div>
    </div>
<!--Carousel Button-->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

    
  
</div>
</div>
  <!--<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 1.5rem;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <!-- Carousel Number 1 
      <div class="carousel-item active">
        <div class="row jumbotron">
          <div class="col">
            <h1 class="display-3 text-white">OUR <br> CULTURAL <br> BELIEFS</h1>
            <ul class="my-3">
              <li class="text-white my-1"><i class="fas fa-circle fa-xs"></i> Customer Focused</li>
              <li class="text-white my-1"><i class="fas fa-circle fa-xs"></i> Speak Up</li>
              <li class="text-white my-1"><i class="fas fa-circle fa-xs"></i> Be Interprising</li>
              <li class="text-white my-1"><i class="fas fa-circle fa-xs"></i> Courage to Act</li>
              <li class="text-white my-1"><i class="fas fa-circle fa-xs"></i> Innovative Now</li>
            </ul>
          </div>
          <div class="col">
            <img src="{{ url_for('static', filename='image/WORKCULTURE.png') }}" style="position: absolute; right: -850px; top: 40px;" width="75%">
          </div>
        </div>
        <img src="{{ url_for('static', filename='image/BACKGROUND.png') }}" class="d-block w-100" alt="...">
      </div>
      <!-- Carousel Number 3 
      <div class="carousel-item">
        <div class="row jumbotron">
          <div class="col-12">
            <h1 class="display-3 text-white">DRESS <br> CODE <br></h1>
            <p class="my-4 py-3 text-white">All employee should dress neatly, <br> appropriately and decently during working hours.</p>
            <a href="{{ url_for('static', filename='resources/dresscode.pdf') }}" target="_blank" class="btn btn-outline-light rounded-pill border-2">
              <h5 class="mx-4">More Details</h5>
            </a>
          </div>
          <div class="col">
            <img src="{{ url_for('static', filename='image/DRESSCODE.png') }}" style="position: absolute; right: -775px; top: 50px;" width="65%">
        </div>
        </div>
        <img src="{{ url_for('static', filename='image/BACKGROUND.png') }}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>-->
  
  <!-- Information Section-->
    <!-- Overlapping cards -->
    
    <div class="container">
      <!-- style="position: absolute; top: 71%; left: 15.5%;" -->
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="grid gap-6 mb-8 md:grid-cols-1 lg:grid-cols-2 px-5 cards-container" style="position: relative;">
        <!-- Card 1 - Onboarding Checklist -->
        <a class="card-link-hover" href="{{ url_for('checklist_submission') }}">
        <div class="navigation-card flex items-center p-4 bg-white border-1 rounded-2xl shadow-xl dark:bg-gray-800 d-flex justify-content-center">
          <div class="p-1 mr-4 text-white rounded-full">
            <img src="{{ url_for('static', filename='icons/MANAGEONBOARDINGICON.png') }}" alt="" width="100px">
          </div>
          <div>
            <h2 class="text-xl font-medium text-gray-900">ONBOARDING CHECKLIST SUBMISSION</h2>
          </div>
        </div>
        </a>
  
        
        <a class="card-link-hover" href="{{ url_for('manage_files') }}">
          <div class="navigation-card flex items-center p-4 bg-white border-1 rounded-2xl shadow-xl dark:bg-gray-800 d-flex justify-content-center">
            <div class="p-1 mr-4 text-white rounded-full">
              <img src="{{ url_for('static', filename='icons/MANAGESUBMITTEDFILES.png') }}" alt="" width="100px">
            </div>
            <div>
              <h2 class="text-xl font-medium text-gray-900">MANAGE SUBMITTED FILES</h2>
            </div>
          </div>
          </a>
    
          
        </div>
       
      
    </div>
  <!-- Information Section-->
  
    </div>
  </div>
  {% endblock %}
  </main>

<!-- Footer -->
<footer class="footer bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
      <p>© 2021 Copyright | Digital Division, Petronas Dagangan Berhad (PDB)</p>
  </div>
  <!-- Copyright -->
</footer>

<!-- General JS --->
<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" charset="utf-8"></script> 
</body>
</html>
