<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- CSS documents-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/asset.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/solid.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/all.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/app.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/components-v2.css') }}">

    {% block head %} {% endblock %}

    <title>{% block title %} HR Executives {% endblock %}</title>
</head>
<body>
<!-- Navigation Bar -->
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-custom">
    <div class="container">
      <a class="mr-4" href="/staff"><img src="{{ url_for('static', filename='image/WhiteLogo2.png') }}" alt="PETRONAS"></a>
      <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav me-auto navbar-responsive">
            <h5 style="color:white;">HR Executives</h5>
        </div>
        <div class="navbar-nav d-flex navbar-responsive">
          {% if session.loggedin %}
            <div class="padding-mobile" style="padding-right: 1rem;">
                <a href="{{ url_for('staff_profile') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">{{ session.fullname }}</h5></a>
            </div>
            <div class="padding-mobile border-line" style="border-left: 2px solid white; padding-left: 1rem;">
                <a href="{{ url_for('logout') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign Out</h5></a>
            </div>
          {% else %}
            <div class="padding-mobile" style="padding-right: 1rem;">
                <a href="{{ url_for('intern_login') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign In</h5></a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>

<main role="main" class="main">
    {% block content %}
	
 <!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <!-- Breadcrumb -->
		<ul class="breadcrumbs">
			<li class="breadcrumbs_item">
			<i class="fas fa-home" style="font-size: 16px;"></i>
				<a href="{{url_for('staff_lobby')}}" class="breadcrumbs_link">Home</a>
			</li>
			<li class="breadcrumbs_item">
				<p class="breadcrumbs_link-active">Onboarding Checklist Submission</p>
			</li>
		</ul>
		
	<br>
	
	<nav class="navbar navbar-light bg-light rounded-pill" style="padding-top: 0.75rem; padding-bottom: 0.75rem;">
      <div class="navbar-nav secondary-navbar-brand me-auto">
        <p class="pl-2">Onboarding Checklist Submission</p>
      </div>
    </nav>
	
	<br><br><br>
      
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>   

<!-- Information Section-->
  <!-- Overlapping cards -->
  <br>
  <br>
  <section class="max-w-7xl mx-auto relative z-10 pb-32 px-4 sm:px-6 lg:px-8" aria-labelledby="contact-heading">
    <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-2 lg:gap-y-0 lg:gap-12">
      <div class="navigation-card flex flex-col bg-white rounded-2xl shadow-xl border-1 mb-4">
        <a href="{{ url_for('email_editor') }}">
          <div class="flex-1 relative pt-4 px-6 pb-8 md:px-8">
            <div class="p-6" align="center">
		          <img src="{{ url_for('static', filename='icons/SENDREQUESTICON.png') }}" alt="checklist" width="250px;">
              <p style="color:#505050; font-size:22px;" class="font-medium mt-4">ONBOARDING CHECKLIST REQUEST</p>
            </div>
          </div>
        </a>
      </div>
      <!-- First Card -->
      <a href="{{ url_for('submission_status') }}">
        <div class="navigation-card flex flex-col bg-white rounded-2xl shadow-xl border-1">
          <div class="flex-1 relative pt-4 px-6 pb-8 md:px-8">
            <div class="p-6" align="center">
              <img src="{{ url_for('static', filename='icons/ONBOARDINGCHECKLISTSUBMISSIONICON.png') }}" alt="attendance" width="250px;">
              <p style="color:#505050; font-size:22px;" class="font-medium mt-4">ONBOARDING CHECKLIST SUBMISSION</p>
            </div>
          </div>
        </div>
      </a>

    </div>
    
  </section>
  
	
{% endblock %}
</main>

<!-- Footer -->
<footer class="footer bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
      <p>© 2021 Copyright | Digital Division, Petronas Dagangan Berhad (PDB)</p>
  </div>
  <!-- Copyright -->
</footer>

<!-- General JS --->
<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" charset="utf-8"></script> 
</body>
</html>
