{% extends 'base.html' %}

{% block title %} Attendance Sheet {% endblock %}

{% block content %}

<!-- Approval Alert Status -->
<div class="secondary-navbar">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>
{% endblock %}

