<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	
<!-- CSS documents-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/asset.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/app.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/components-v2.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/solid.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/all.css') }}">

    {% block head %} {% endblock %}

    <title>{% block title %} HR Executives {% endblock %}</title>
</head>
<body>
<!-- Navigation Bar -->
<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-custom">
	  <div class="container">
		<a class="mr-4" href="/staff"><img src="{{ url_for('static', filename='image/WhiteLogo2.png') }}" alt="PETRONAS"></a>
		<button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggle">
		  <div class="navbar-nav me-auto navbar-responsive">
			  <h5 style="color:white;">HR Executives</h5>
		  </div>
		  <div class="navbar-nav d-flex navbar-responsive">
			{% if session.loggedin %}
			  <div class="padding-mobile" style="padding-right: 1rem;">
				  <a href="{{ url_for('staff_profile') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">{{ session.fullname }}</h5></a>
			  </div>
			  <div class="padding-mobile border-line" style="border-left: 2px solid white; padding-left: 1rem;">
				  <a href="{{ url_for('logout') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign Out</h5></a>
			  </div>
			{% else %}
			  <div class="padding-mobile" style="padding-right: 1rem;">
				  <a href="{{ url_for('intern_login') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign In</h5></a>
			  </div>
			{% endif %}
		  </div>
		</div>
	  </div>
	</nav>
  </header>

<main role="main" class="main">
    {% block content %}

<!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <!-- Breadcrumb -->
		<ul class="breadcrumbs">
			<li class="breadcrumbs_item">
			<i class="fas fa-home" style="font-size: 16px;"></i>
				<a href="{{url_for('staff_lobby')}}" class="breadcrumbs_link">Home</a>
			</li>
			<li class="breadcrumbs_item">
				<a href="{{url_for('checklist_submission')}}" class="breadcrumbs_link">Onboarding Checklist Submission</a>
			</li>
			<li class="breadcrumbs_item">
				<p class="breadcrumbs_link-active">Submission Status</p>
			</li>
		</ul>
		
	<br>
	
	<nav class="navbar navbar-light bg-light rounded-pill" style="padding-top: 0.75rem; padding-bottom: 0.75rem;">
      <div  class="navbar-nav secondary-navbar-brand me-auto">
        <p class="pl-2">Onboarding Checklist Submission Status</p>
      </div>
    </nav>
	
	<br><br>
      
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>

<!-- Onboarding Checklist Content -->

<!-- Container -->
<div class="container">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  

<!-- Search bar -->
<form action="{{ url_for('submission_status_search') }}" method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div>
  <div class="mt-1 flex rounded-md shadow-sm">
    <div class="relative flex items-stretch flex-grow focus-within:z-10">
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
        <!-- Heroicon name: solid/users -->
        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
        </svg>
      </div>
      <input type="text" name="search" id="search" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-none rounded-l-md pl-10 sm:text-sm border-gray-300" placeholder="Search Interns">
    </div>
    <button type="submit" class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
      <!-- Heroicon name: solid/sort-ascending -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
		  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
	  </svg>
      <span>Search</span>
    </button>
  </div>
</div>
</form>
<br><br>

<div>
  <div class="flex">
	<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
	  <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
	</svg>
   <label for="email" class="block text-sm font-medium text-gray-700">&nbsp; Filter by Division &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
    <span class="text-sm text-gray-500 ml-10" id="email-optional"><a href="{{ url_for('submission_status') }}">Reset</a></span>
  </div>
  <div class="mt-1">
	<form action="{{ url_for('submission_status_filter') }}" method="post">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
					<select id="intern_div" name="intern_div" autocomplete="intern_div" onchange='if(this.value != "Select Division") { this.form.submit(); }'class="focus:ring-indigo-500 focus:border-indigo-500 block w-min rounded-r-md rounded-l-md pl-10 sm:text-sm text-gray-700 border-gray-300">
								<option selected disabled value="">Select Division</option>
								<option value="Commercial Business">Commercial Business</option>
								<option value="LPG Business">LPG Business</option>
								<option value="Retail Business">Retail Business</option>
								<option value="Supply and Distribution">Supply and Distribution</option>
								<option value="Petronas Lubricants">Petronas Lubricants</option>
								<option value="Management and Support Services">Management and Support Services</option>
								<option value="Digital">Digital</option>
								<option value="Strategy">Strategy</option>
								<option value="Strategic Communication">Strategic Communication</option>
								<option value="HRM">HRM</option>
								<option value="Finance">Finance</option>
								<option value="HSE">HSE</option>
								<option value="Internal Audit">Internal Audit</option>
								<option value="Technical Services">Technical Services</option>              
					</select>
			</form>
  </div>
</div>
		
<br><br>

<!-- Checklist -->
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="background-green">
            <tr>
			  <!-- Intern Name -->
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-white">
                Intern Name
              </th>
			  <!-- Department/Division  -->
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-white">
                Department/Division
              </th>
			  <!-- University -->
			  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-white">
                University
              </th>
			  <!-- Start-End Date -->
			  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-white">
                Duration
              </th>
			  <!-- Cost Centre -->
			  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-white">
                Cost Centre
              </th>
			  <!-- Status -->
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-white">
                Status
              </th>
			  <!-- Edit Details -->
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-white">
                Edit Details
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            
			<!--Intern details-->
			{% for data in interns %}
					<tr>
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="flex items-center">
						  <div class="flex-shrink-0 h-10 w-10">
							<span class="inline-block h-10 w-10 rounded-full overflow-hidden bg-gray-100">
							  <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
								<path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
							  </svg>
							</span>			  
						  </div>
						  <div id="result"></div>
						  <div class="ml-4">
							<!-- full name -->
							<div class="text-sm font-medium text-gray-900 my-1">
							  	{{data.fullname}}
								
								{% if data.last_login %}

								<!-- If intern's last login is within 45 days, shows active -->

									{% if (CurrentDate - (data.last_login)).days <= 45 %}
								  		
										<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
											active
								  		</span>

									{% else %}
								
								<!-- If intern's last login is more than 45 days, shows inactive -->

										<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
											inactive
									  	</span>
									
									{% endif %}
									{% else %}

									<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
										inactive
									</span>

								{% endif %}

							</div>
							<div class="text-sm text-gray-500 my-1">
								{{data.petronas_email}}
							 </div>
							 <div class="text-sm text-gray-500 my-1">
								{{ (CurrentDate - (data.last_login)).days }} days since last login
							 </div>
						  </div>
						</div>
					  </td>
					  <!-- Table for Intern Department/Division -->
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900">{{data.intern_dept}}</div>
						<div class="text-sm text-gray-500">{{data.intern_div}}</div>
					  </td>
					  <!-- Table for University -->
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900"> {{data.university}}</div>
					  </td>
					  <!-- Table for Cost Centre -->
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900"> {{data.start_date}} -> {{data.end_date}}</div>
					  </td>
					  <!-- Table for Cost Centre -->
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900"> {{data.cost_centre}}</div>
					  </td>
					  <!-- If document is submitted, Submitted button appears -->
					   {% if data.checklist_status == "submitted" %}
						  <td class="px-6 py-4 whitespace-nowrap">
							<span class="px-2 py-1 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
							  Submitted
							</span>
						  </td>	
						<!-- If document is not submitted, Pending button appears -->						
					   {% else %}
						  <td class="px-6 py-4 whitespace-nowrap">
							<span class="px-2 py-1 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
							  Pending
							</span>
						  </td>					   
					   {% endif %}
					  <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
						<a href="/staff/submission_status/edit/{{data.id}}" class="text-teal-500 hover:text-indigo-900">Edit</a>
					  </td>
					</tr>
			{% endfor %}
			<!--search row-->

			{% for search in search %}  
			 <div id="result"></div>
					<tr>
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="flex items-center">
						  <div class="flex-shrink-0 h-10 w-10">
							<span class="inline-block h-10 w-10 rounded-full overflow-hidden bg-gray-100">
							  <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
								<path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
							  </svg>
							</span>			  
						  </div>
						  <div id="result"></div>
							<div class="ml-4">
								<div class="text-sm font-medium text-gray-900">
								  {{search.fullname}}

								  {% if search.last_login %}

								  <!-- If intern's last login is within 45 days, shows active -->
  
									  {% if (CurrentDate - (search.last_login)).days <= 45 %}
											
										  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
											  active
											</span>
  
									  {% else %}
								  
								  <!-- If intern's last login is more than 45 days, shows inactive -->
								  
										  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
											  inactive
											</span>
									  
									  {% endif %}
									  {% else %}
  
									  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
										  inactive
									  </span>
  
								  {% endif %}
								</div>
								<div class="text-sm text-gray-500 my-1">
									{{search.petronas_email}}
								</div>
								<div class="text-sm text-gray-500 my-1">
									{{ (CurrentDate - (search.last_login)).days }} days since last login
								</div>
						  </div>
						</div>
					  </td>
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900">{{search.intern_dept}}</div>
						<div class="text-sm text-gray-500">{{search.intern_div}}</div>
					  </td>
					  <!-- Table for University -->
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900"> {{search.university}}</div>
					  </td>
					  <!-- Table for Cost Centre -->
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900"> {{search.start_date}} -> {{search.end_date}}</div>
					  </td>
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900"> {{search.cost_centre}}</div>
					  </td>
					  <!-- If document is submitted, Submitted button appears -->
					  {% if search.checklist_status == "submitted" %}
					  <td class="px-6 py-4 whitespace-nowrap">
						<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
						  Submitted
						</span>
					  </td>	
					<!-- If document is not submitted, Pending button appears -->						
				   {% else %}
					  <td class="px-6 py-4 whitespace-nowrap">
						<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
						  Pending
						</span>
					  </td>					   
				   {% endif %}
					  <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
						<a href="/staff/submission_status/edit/{{search.id}}" class="text-teal-500 hover:text-indigo-900">Edit</a>
					  </td>
					</tr>
			{% endfor %}
			
			{% for division in division %}  
			 <div id="division"></div>
					<tr>
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="flex items-center">
						  <div class="flex-shrink-0 h-10 w-10">
							<span class="inline-block h-10 w-10 rounded-full overflow-hidden bg-gray-100">
							  <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
								<path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
							  </svg>
							</span>			  
						  </div>
						  <div id="division"></div>
						  <div class="ml-4">
							<div class="text-sm font-medium text-gray-900">
							  {{division.fullname}}

							  {% if division.last_login %}

							  <!-- If intern's last login is within 45 days, shows active -->

								  {% if (CurrentDate - (division.last_login)).days <= 45 %}
										
									  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
										  active
										</span>

								  {% else %}
							  
							  <!-- If intern's last login is more than 45 days, shows inactive -->
							  
									  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
										  inactive
										</span>
								  
								  {% endif %}
								  {% else %}

								  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
									  inactive
								  </span>

							  {% endif %}
							</div>
							<div class="text-sm text-gray-500 my-1">
								{{division.petronas_email}}
							</div>
							<div class="text-sm text-gray-500 my-1">
								{{ (CurrentDate - (division.last_login)).days }} days since last login
							</div>
						  </div>
						</div>
					  </td>
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900">{{division.intern_dept}}</div>
						<div class="text-sm text-gray-500">{{division.intern_div}}</div>
					  </td>
					  <!-- Table for University -->
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900"> {{division.university}}</div>
					  </td>
					  <!-- Table for Cost Centre -->
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900"> {{division.start_date}} -> {{division.end_date}}</div>
					  </td>
					  <td class="px-6 py-4 whitespace-nowrap">
						<div class="text-sm text-gray-900"> {{division.cost_centre}}</div>
					  </td>
					  <!-- If document is submitted, Submitted button appears -->
					  {% if division.checklist_status == "submitted" %}
					  <td class="px-6 py-4 whitespace-nowrap">
						<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
						  Submitted
						</span>
					  </td>	
					<!-- If document is not submitted, Pending button appears -->						
				   {% else %}
					  <td class="px-6 py-4 whitespace-nowrap">
						<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-green-800">
						  Pending
						</span>
					  </td>					   
				   {% endif %}
					  <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
						<a href="/staff/submission_status/edit/{{division.id}}" class="text-teal-500 hover:text-indigo-900">Edit</a>
					  </td>
					</tr>
			{% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>


{% endblock %}
</main>
<!-- Footer -->
<footer class="footer bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
      <p>© 2021 Copyright | Digital Division, Petronas Dagangan Berhad (PDB)</p>
  </div>
  <!-- Copyright -->
</footer>

<script>
$(document).ready(function(){
  load_data();
  function load_data(query)
  {
   $.ajax({
    url:"/ajaxlivesearch",
    method:"POST",
    data:{query:query},
    success:function(data)
    {
      $('#result').html(data);
      $("#result").append(data.htmlresponse);
    }
   });
  }
  $('#search_text').keyup(function(){
    var search = $(this).val();
    if(search != ''){
    load_data(search);
   }else{
    load_data();
   }
  });
});
</script>
<!-- General JS --->
<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" charset="utf-8"></script> 
</body>
</html>
