<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- CSS documents-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/asset.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/solid.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/all.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/app.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/components-v2.css') }}">

    {% block head %} {% endblock %}

    <title>{% block title %} Edit Submission Status {% endblock %}</title>
</head>
<body>
<!-- Navigation Bar -->
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-custom">
    <div class="container">
      <a class="mr-4" href="/staff"><img src="{{ url_for('static', filename='image/WhiteLogo2.png') }}" alt="PETRONAS"></a>
      <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav me-auto navbar-responsive">
            <h5 style="color:white;">HR Executives</h5>
        </div>
        <div class="navbar-nav d-flex navbar-responsive">
          {% if session.loggedin %}
            <div class="padding-mobile" style="padding-right: 1rem;">
                <a href="{{ url_for('staff_profile') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">{{ session.fullname }}</h5></a>
            </div>
            <div class="padding-mobile border-line" style="border-left: 2px solid white; padding-left: 1rem;">
                <a href="{{ url_for('logout') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign Out</h5></a>
            </div>
          {% else %}
            <div class="padding-mobile" style="padding-right: 1rem;">
                <a href="{{ url_for('intern_login') }}" class="btn btn-outline-custom rounded-pill" role="button"><h5 class="mx-4">Sign In</h5></a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Secondary Navbar -->
<div class="secondary-navbar">
  <div class="container">
    <!-- Breadcrumb -->
    <ul class="breadcrumbs">
			<li class="breadcrumbs_item">
			<i class="fas fa-home" style="font-size: 16px;"></i>
				<a href="{{url_for('staff_lobby')}}" class="breadcrumbs_link">Home</a>
			</li>
			<li class="breadcrumbs_item">
				<a href="{{url_for('checklist_submission')}}" class="breadcrumbs_link">Onboarding Checklist Submission</a>
			</li>
			<li class="breadcrumbs_item">
				<a href="{{url_for('submission_status')}}" class="breadcrumbs_link">Submission Status</a>
			</li>
			<li class="breadcrumbs_item">
				<p class="breadcrumbs_link-active">Edit Profile</p>
			</li>
	</ul>
	<br>
    <nav class="navbar navbar-light bg-light rounded-pill" style="padding-top: 0.75rem; padding-bottom: 0.75rem;">
      <div class="navbar-nav secondary-navbar-brand me-auto">
        <p class="pl-2">Edit Profile</p>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-margin alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>

<main role="main" class="main">
  {% block content %}

<!-- Edit Profile Content -->
<div class="container margin-1">
<!-- Form Section -->
    <form class="register-form needs-validation" action="{{ url_for('submission_status_update', id=interns.id) }}" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="register-card">
          <div class="leave-header div-control rounded-pill mt-2">
            <h4>Profile Details</h4>
          </div>
          <div class="accordion mx-4 px-2 my-4" id="accordionPanelsStayOpenExample">
            <!-- INTERNS DETAILS SECTION -->
            <div class="accordion-item mb-2">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button rounded-pill border border-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <strong>Personal Details</strong> 
              </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                <!-- Intern's Name Field -->
                <div class="form-group label-border my-3">
                  <label>Name</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="name" value="{{interns.fullname}}" required>
                    <div class="invalid-feedback">
                      Please enter your name!
                    </div>
                </div>
                <!-- Intern's Personal Email Field -->
                <div class="form-group label-border my-4">
                  <label>Personal Email</label>
                  <input type="email" class="form-control form-control-input rounded-lg" name="email" value="{{interns.email}}" required/>
                    <div class="invalid-feedback">
                      Please enter your email!
                    </div>
                </div>
                <!-- Contact Number Field -->
                <div class="form-group label-border my-4">
                  <label>Contact Number</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="contact" value="{{interns.contact_no}}" required/>
                    <div class="invalid-feedback">
                      Please enter your contact number!
                    </div>
                </div>
                <!-- Department Field -->
                <div class="form-group label-border my-4">
                  <label>Department</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="intern_dept" value="{{interns.intern_dept}}" required/>
                    <div class="invalid-feedback">
                      Please enter department!
                    </div>
                </div>
                <!-- Division Field -->
                <div class="form-group label-border my-4">
                  <label>Division</label>
					        <select id="intern_div" name="intern_div" autocomplete="intern_div" class="mt-1 block w-full pl-6 pr-10 py-3 text-base shadow focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-lg" required>
								    <option selected value="{{interns.intern_div}}">{{interns.intern_div}}</option>
								    <option value="Commercial Business">Commercial Business</option>
								    <option value="LPG Business">LPG Business</option>
								    <option value="Retail Business">Retail Business</option>
								    <option value="Supply and Distribution">Supply and Distribution</option>
								    <option value="Petronas Lubricants">Petronas Lubricants</option>
								    <option value="Management and Support Services">Management and Support Services</option>
								    <option value="Digital">Digital</option>
								    <option value="Strategy">Strategy</option>
								    <option value="Strategic Communication">Strategic Communication</option>
								    <option value="HRM">HRM</option>
								    <option value="Finance">Finance</option>
								    <option value="HSE">HSE</option>
								    <option value="Internal Audit">Internal Audit</option>
								    <option value="Technical Services">Technical Services</option>              
					        </select>                    
                  <div class="invalid-feedback">
                    Please enter division!
                  </div>
                </div>
                <!-- Start Date Field -->
                <div class="form-group label-border my-4">
                  <label>Start Date</label>
                  <input type="date" class="form-control form-control-input rounded-lg" name="start_date" value="{{interns.start_date}}" required/>
                    <div class="invalid-feedback">
                      Please enter your internship start date!
                    </div>
                </div>
                <!-- End Date Field -->
                <div class="form-group label-border my-4">
                  <label>End Date</label>
                  <input type="date" class="form-control form-control-input rounded-lg" name="end_date" value="{{interns.end_date}}" required/>
                    <div class="invalid-feedback">
                      Please enter your internship end date!
                    </div>
                </div>
                <!-- Cost Centre Field -->
                <div class="form-group label-border my-3">
                  <label>Cost Centre</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="cost_centre" value="{{interns.cost_centre}}" required/>
                    <div class="invalid-feedback">
                      Please enter your cost centre!
                    </div>
                </div>
                </div>
              </div>
            </div>
            <!-- SUPERVISOR SECTION -->
            <div class="accordion-item mb-2">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed rounded-pill border border-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  <strong>Supervisor Details</strong> 
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                <!-- Supervisor Name Field -->
                <div class="form-group label-border my-3">
                  <label>Supervisor's Name</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="sv_name" value="{{interns.sv_name}}" readonly required>
                  <div class="invalid-feedback">
                    Please enter supervisor's name!
                  </div>
                </div>
                <!-- Supervisor's Email Field -->
                <div class="form-group label-border my-4">
                  <label>Supervisor's Email</label>
                  <input type="text" class="form-control form-control-input rounded-lg" name="sv_email" value="{{interns.sv_email}}" readonly required>
                  <div class="invalid-feedback">
                    Please enter supervisor's email!
                  </div>
                </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Button Section-->
        <div class="leave-card-button">
          <div  class="button-1">
            <a  href="{{ url_for('submission_status') }}" type="button" class="btn btn-md btn-outline-danger btn-padding-2 rounded-pill clear-form">Back</a>
          </div>
          <div class="button-2">
            <button type="submit" class="btn btn-md btn-custom btn-padding-2 rounded-pill">Save</button>
          </div>
        </div>
      </div>
    </form>
</div>
</main>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

{% endblock %}


<!-- Footer -->
<footer class="footer bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
      <p>© 2021 Copyright | Digital Division, Petronas Dagangan Berhad (PDB)</p>
  </div>
  <!-- Copyright -->
</footer>

<!-- General JS --->
<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" charset="utf-8"></script> 
</body>
</html>