<html>

<!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	
<!-- CSS documents-->
   <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/asset.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/solid.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/all.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/app.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/components-v2.css') }}">


<!--can copy & paste tailwind content below -->

<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ]
  }
  ```
-->

  <!-- Navigation Bar -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-green-700">
        <div class="container">
          <a class="mr-4" href="/"><img src="{{ url_for('static', filename='image/petronaslogo.png') }}" alt="PETRONAS"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav me-auto">
             <!--   <h4 style="color:white; margin-top: .25rem;">PDB Intern Portal</h4> -->
                <a href="{{ url_for('static', filename='resources/Internship Onboarding Pack 2021.pdf') }}" target="_blank" class="btn btn-custom-login" style="margin-left: 2rem;"><h5>Guidelines</h5></a>
            </div>
            <div class="navbar-nav d-flex">
              {% if session.loggedin %}
                <div style="padding-right: 1rem;">
                    <a href="{{ url_for('intern_profile') }}" class="btn btn-custom-login me-2" role="button"><h5>{{ session.fullname }}</h5></a>
                </div>
                <div style="border-left: 2px solid white; padding-left: 1rem;">
                    <a href="{{ url_for('logout') }}" class="btn btn-outline-custom" role="button"><h5>Logout</h5></a>
                </div>
              {% else %}
                <div style="padding-right: 1rem;">
                    <a href="{{ url_for('intern_login') }}" class="btn btn-custom-login me-2" role="button"><h5>Login</h5></a>
                </div>
                <div style="border-left: 2px solid white; padding-left: 1rem;">
                    <a href="{{ url_for('staff_login') }}" class="btn btn-outline-custom" role="button"><h5>HR Executives</h5></a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>


  <main>
  <br><br>
    <!-- Hero section -->
    <div class="relative">
      <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          
         
      
   
 


      <!-- This example requires Tailwind CSS v2.0+ -->
  <!-- Header -->
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='image/carousel1.png') }}">
		
        </svg>


        <div class="container">
          <div class="carousel-caption text-start">
		  
     
      
   
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='image/carousel2.png') }}">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1></h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='image/carousel3.png') }}">

        <div class="container">
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='image/image8rs.png') }}">

  
 
        <div class="container">
		<a href="{{ url_for('static', filename='resources/dresscode.pdf') }}" target="_blank">
          <div class="carousel-caption text-end">
            <h4>Click to read more &raquo;</h4>
          </div>
		</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>

  <!-- Overlapping cards -->
  <section class=" max-w-7xl mx-auto relative z-10 pb-32 px-4 sm:px-6 lg:px-8" aria-labelledby="contact-heading">
    <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-4 lg:gap-y-0 lg:gap-x-8">
      <div class="h-96 flex flex-col bg-white rounded-2xl shadow-xl">
        <div class="flex-1 relative pt-3 px-6 pb-8 md:px-8">
         
          <div class="p-6" align="center">
		 <img src="{{ url_for('static', filename='icons/checklist-small.png') }}" alt="checklist" >
		 <br>
          <p style="color:#505050; font-size:22px;" class="font-medium">Onboarding Checklist</p>
          <a href="{{ url_for('onboarding') }}" class="mt-8 block w-full bg-green-700 border border-green-700 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">View Details</a>
        </div>
         
        </div>
      
      </div>

      <div class="h-96 flex flex-col bg-white rounded-2xl shadow-xl">
        <div class="flex-1 relative pt-3 px-6 pb-8 md:px-8">
          
          <div class="p-6" align="center">
		<img src="{{ url_for('static', filename='icons/attendance-small.png') }}" alt="attendance">
		<br>
          <p style="color:#505050; font-size:22px;" class="font-medium">Attendance Sheet</p>
          <a href="{{ url_for('attendance') }}" class="mt-8 block w-full bg-green-700 border border-green-700 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">View Details</a>
        </div>
      
        </div>
       
      </div>

      <div class="h-96 flex flex-col bg-white rounded-2xl shadow-xl">
        <div class="flex-1 relative pt-3 px-6 pb-8 md:px-8">
         
          <div class="p-6" align="center">
		<img src="{{ url_for('static', filename='icons/leave-small.png') }}" alt="attendance">
		<br>
          <p style="color:#505050; font-size:22px;" class="font-medium">Leave<br> Request</p>
          <a href="{{ url_for('leave_request') }}" class="mt-8 block w-full bg-green-700 border border-green-700 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">View Details</a>
        </div>
        </div>
        
      </div>
	  
      <div class="h-96 flex flex-col bg-white rounded-2xl shadow-xl">
        <div class="flex-1 relative pt-3 px-6 pb-8 md:px-8">
        
           <div class="p-6" align="center">
		<img src="{{ url_for('static', filename='icons/feedback-small.png') }}" alt="attendance">
		<br>
          <p style="color:#505050; font-size:22px;" class="font-medium">Feedback<br> Form</p>
          <a href="{{ url_for('feedback') }}" class="mt-8 block w-full bg-green-700 border border-green-700 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">View Details</a>
        </div>
        </div>
       
      </div>
	  
    </div>
  </section>
</div>
</div>
 </div>
 </main>

		
	

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/app.js') }}" charset="utf-8"></script> 
<script src="{{ url_for('static', filename='js/components-v2.js') }}" charset="utf-8"></script> 
<script src="{{ url_for('static', filename='js/iframe.js') }}" charset="utf-8"></script> 
<script src="{{ url_for('static', filename='js/prism.js') }}" charset="utf-8"></script> 

<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" charset="utf-8"></script> 

