<table style="border-collapse: collapse; width: 100%; height: 503px;" border="1">
<tbody>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>DATE</strong></td>
<td style="width: 30.0962%; height: 21px; text-align: center;"><strong>TIME IN</strong></td>
<td style="width: 29.5654%; height: 21px; text-align: center;"><strong>TIME OUT</strong></td>
<td style="width: 30.8108%; height: 21px; text-align: center;"><strong>REMARKS</strong></td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>1<sup><span style="font-size: 8pt;">ST</span></sup></strong></td>
<td style="width: 30.0962%; height: 21px; "> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>2<span style="font-size: 8pt;"><sup>ND</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>3<span style="font-size: 8pt;"><sup>RD</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>4<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>5<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>6<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>7<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>8<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>9<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>10<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>11<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>12<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>13<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>14<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>15<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>16<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>17<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>18<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>19<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>20<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>21<span style="font-size: 8pt;"><sup>ST</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 5.71756%; height: 21px; text-align: center;"><strong>22<span style="font-size: 8pt;"><sup>ND</sup></span></strong></td>
<td style="width: 30.0962%; height: 21px;"> </td>
<td style="width: 29.5654%; height: 21px;"> </td>
<td style="width: 30.8108%; height: 21px;"> </td>
</tr>
<tr style="height: 20px;">
<td style="width: 5.71756%; height: 20px; text-align: center;"><strong>23<span style="font-size: 8pt;"><sup>RD</sup></span></strong></td>
<td style="width: 30.0962%; height: 20px;"> </td>
<td style="width: 29.5654%; height: 20px;"> </td>
<td style="width: 30.8108%; height: 20px;"> </td>
</tr>
<tr>
<td style="width: 5.71756%; text-align: center;"><strong>24<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%;"> </td>
<td style="width: 29.5654%;"> </td>
<td style="width: 30.8108%;"> </td>
</tr>
<tr>
<td style="width: 5.71756%; text-align: center;"><strong>25<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%;"> </td>
<td style="width: 29.5654%;"> </td>
<td style="width: 30.8108%;"> </td>
</tr>
<tr>
<td style="width: 5.71756%; text-align: center;"><strong>26<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%;"> </td>
<td style="width: 29.5654%;"> </td>
<td style="width: 30.8108%;"> </td>
</tr>
<tr>
<td style="width: 5.71756%; text-align: center;"><strong>27<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%;"> </td>
<td style="width: 29.5654%;"> </td>
<td style="width: 30.8108%;"> </td>
</tr>
<tr>
<td style="width: 5.71756%; text-align: center;"><strong>28<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%;"> </td>
<td style="width: 29.5654%;"> </td>
<td style="width: 30.8108%;"> </td>
</tr>
<tr>
<td style="width: 5.71756%; text-align: center;"><strong>29<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%;"> </td>
<td style="width: 29.5654%;"> </td>
<td style="width: 30.8108%;"> </td>
</tr>
<tr>
<td style="width: 5.71756%; text-align: center;"><strong>30<span style="font-size: 8pt;"><sup>TH</sup></span></strong></td>
<td style="width: 30.0962%;"> </td>
<td style="width: 29.5654%;"> </td>
<td style="width: 30.8108%;"> </td>
</tr>
<tr>
<td style="width: 5.71756%; text-align: center;"><strong>31<span style="font-size: 8pt;"><sup>ST</sup></span></strong></td>
<td style="width: 30.0962%;"> </td>
<td style="width: 29.5654%;"> </td>
<td style="width: 30.8108%;"> </td>
</tr>
</tbody>
</table>