<div dir="ltr">
<div class="gmail_quote">
<div lang="EN-US">
<div class="m_8105669468378178639WordSection1">
<p class="MsoNormal" style="text-autospace: none;"><strong><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Dear Students,<u></u><u></u></span></strong></p>
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Congratulations for being selected to undergo practical training in PETRONAS Dagangan Berhad.</span><u></u><u></u></p>
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">&nbsp;Please find list of documentation and action for your kind info:-</span><u></u><u></u></p>
<table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 9.9pt;">
<td style="width: 32.75pt; border: solid windowtext 1.0pt; background: #00a9b1; padding: 0in 5.4pt 0in 5.4pt; height: 9.9pt;" valign="top" width="44">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">No.</span><u></u><u></u></p>
</td>
<td style="width: 142.1pt; border: solid windowtext 1.0pt; border-left: none; background: #00a9b1; padding: 0in 5.4pt 0in 5.4pt; height: 9.9pt;" valign="top" width="189">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: black;">Document</span><u></u><u></u></p>
</td>
<td style="width: 273.0pt; border: solid windowtext 1.0pt; border-left: none; background: #00a9b1; padding: 0in 5.4pt 0in 5.4pt; height: 9.9pt;" valign="top" width="364">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: black;">Remarks</span><u></u><u></u></p>
</td>
</tr>
<tr style="height: 21.9pt;">
<td style="width: 32.75pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 21.9pt;" width="44">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">1</span><u></u><u></u></p>
</td>
<td style="width: 142.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 21.9pt;" width="189">
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Attendance Sheet</span><u></u><u></u></p>
</td>
<td style="width: 273.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 21.9pt;" width="364">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Email to Nadia Nordin <span style="color: #1f4e79;">(</span></span><a href="https://apspetronas.pythonanywhere.com/" target="_blank" rel="noopener">Onboarding Checklist Portal</a><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: #1f4e79;">) </span><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">by 1<sup>st</sup> of every month. Allowance will be credited before 15<sup>th</sup> of the month. <em><span style="color: red;">(In PDF Format)</span></em></span><u></u><u></u></p>
</td>
</tr>
<tr style="height: 56.6pt;">
<td style="width: 32.75pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 56.6pt;" width="44">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">2</span><u></u><u></u></p>
</td>
<td style="width: 142.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 56.6pt;" width="189">
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Leave Request</span><u></u><u></u></p>
</td>
<td style="width: 273.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 56.6pt;" width="364">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Send it to me when request for a leave. Email to Nadia Nordin (</span><a href="https://apspetronas.pythonanywhere.com/" target="_blank" rel="noopener">Onboarding Checklist Portal</a><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">) by 1st of every month. Leave are applicable 1 day per month throughout your internship period <em><span style="color: red;">(In PDF Format)</span></em></span><u></u><u></u></p>
</td>
</tr>
<tr style="height: 56.6pt;">
<td style="width: 32.75pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 56.6pt;" width="44">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">3</span><u></u><u></u></p>
</td>
<td style="width: 142.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 56.6pt;" width="189">
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">On-boarding Checklist for Intern</span><u></u><u></u></p>
</td>
<td style="width: 273.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 56.6pt;" width="364">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Email to Nadia Nordin <span style="color: #1f4e79;">(</span></span><a href="https://apspetronas.pythonanywhere.com/" target="_blank" rel="noopener">Onboarding Checklist Portal</a><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: #1f4e79;">) </span><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">by <strong><span style="background: yellow;">25<sup>th </sup>September 2020</span></strong>. Fill in the details and complete onboarding checklist by &lsquo;tick&rsquo; at the status column once all document had been submitted. <em><span style="color: red;">(In PDF Format)</span></em></span><u></u><u></u></p>
</td>
</tr>
<tr style="height: 42.2pt;">
<td style="width: 32.75pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 42.2pt;" width="44">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">4</span><u></u><u></u></p>
</td>
<td style="width: 142.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 42.2pt;" width="189">
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Intern Form</span><u></u><u></u></p>
</td>
<td style="width: 273.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 42.2pt;" width="364">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Email to Nadia Nordin <span style="color: #1f4e79;">(</span></span><a href="https://apspetronas.pythonanywhere.com/" target="_blank" rel="noopener">Onboarding Checklist Portal</a><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: #1f4e79;">) </span><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">by<span style="color: #1f497d;"> </span><strong><span style="background: yellow;">25<sup>th </sup>September 2020</span></strong><em><span style="color: red;"> (In Words Format)</span></em></span><u></u><u></u></p>
</td>
</tr>
<tr style="height: 35.8pt;">
<td style="width: 32.75pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 35.8pt;" width="44">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">5</span><u></u><u></u></p>
</td>
<td style="width: 142.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 35.8pt;" width="189">
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Secrecy Agreement</span><u></u><u></u></p>
</td>
<td style="width: 273.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 35.8pt;" width="364">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Email to Nadia Nordin <span style="color: #1f4e79;">(</span></span><a href="https://apspetronas.pythonanywhere.com/" target="_blank" rel="noopener">Onboarding Checklist Portal</a><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: #1f4e79;">) </span><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">by <strong><span style="background: yellow;">25<sup>th </sup>September 2020</span></strong>. <span style="color: black;">The Agreement must be signed by your PETRONAS Supervisor.</span> <em><span style="color: red;">(In PDF Format)</span></em></span><u></u><u></u></p>
</td>
</tr>
<tr style="height: 36.25pt;">
<td style="width: 32.75pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 36.25pt;" width="44">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">6</span><u></u><u></u></p>
</td>
<td style="width: 142.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 36.25pt;" width="189">
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">University Indemnity Letter</span><u></u><u></u></p>
</td>
<td style="width: 273.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 36.25pt;" width="364">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Email to Nadia Nordin <span style="color: #1f4e79;">(</span></span><a href="https://apspetronas.pythonanywhere.com/" target="_blank" rel="noopener">Onboarding Checklist Portal</a><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: #1f4e79;">) </span><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">by<span style="color: #1f4e79;"> </span><strong><span style="background: yellow;">25<sup>th </sup>September 2020</span></strong>. <em><span style="color: red;">(In PDF Format)</span></em></span><u></u><u></u></p>
</td>
</tr>
<tr style="height: 36.25pt;">
<td style="width: 32.75pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 36.25pt;" width="44">
<p class="MsoNormal" style="text-align: center;" align="center">7<u></u><u></u></p>
</td>
<td style="width: 142.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 36.25pt;" width="189">
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Bank Slip </span><u></u><u></u></p>
</td>
<td style="width: 273.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 36.25pt;" width="364">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Email to Nadia Nordin <span style="color: #1f4e79;">(</span></span><a href="https://apspetronas.pythonanywhere.com/" target="_blank" rel="noopener">Onboarding Checklist Portal</a><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: #1f4e79;">) </span><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">by <strong><span style="background: yellow;">25<sup>th </sup>September 2020</span></strong>. Sample of Bank Slip as attached. &nbsp;&nbsp;&nbsp;&nbsp;<em><span style="color: red;">(In PDF Format)</span></em></span><u></u><u></u></p>
</td>
</tr>
<tr style="height: 36.7pt;">
<td style="width: 32.75pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 36.7pt;" width="44">
<p class="MsoNormal" style="text-align: center;" align="center">8<u></u><u></u></p>
</td>
<td style="width: 142.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 36.7pt;" width="189">
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Copy of IC</span><u></u><u></u></p>
</td>
<td style="width: 273.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 36.7pt;" width="364">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Email to Nadia Nordin <span style="color: #1f4e79;">(</span></span><a href="https://apspetronas.pythonanywhere.com/" target="_blank" rel="noopener">Onboarding Checklist Portal</a><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: #1f4e79;">) </span><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">by <strong><span style="background: yellow;">25<sup>th </sup>September 2020</span></strong>. <em><span style="color: red;">(In PDF Format)</span></em></span><u></u><u></u></p>
</td>
</tr>
<tr style="height: 36.7pt;">
<td style="width: 32.75pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 36.7pt;" width="44">
<p class="MsoNormal" style="text-align: center;" align="center">9<u></u><u></u></p>
</td>
<td style="width: 142.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 36.7pt;" width="189">
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Registration Form Staff ID<u></u><u></u></span></p>
</td>
<td style="width: 273.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 36.7pt;" width="364">
<p class="MsoNormal" style="text-align: center;" align="center"><strong><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; background: yellow;">1<sup>st</sup> Day Report Duty</span></strong><em><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: red;"> - Applicable for work location based in KLCC.</span></em><em><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';"> </span> </em><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Please fill in these form, and get approval from superior. Send it to Level 11, Tower 1 (security pass studio)<u></u><u></u></span></p>
</td>
</tr>
<tr style="height: 36.7pt;">
<td style="width: 32.75pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 36.7pt;" width="44">
<p class="MsoNormal" style="text-align: center;" align="center">10<u></u><u></u></p>
</td>
<td style="width: 142.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 36.7pt;" width="189">
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Intern Feedback Form</span><u></u><u></u></p>
</td>
<td style="width: 273.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt; height: 36.7pt;" width="364">
<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">Email to Nadia Nordin <span style="color: #1f4e79;">(</span></span><a href="https://apspetronas.pythonanywhere.com/" target="_blank" rel="noopener">Onboarding Checklist Portal</a><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: #1f4e79;">) </span><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">at the end of your internships period. <em><span style="color: red;">(In PDF Format)</span></em></span><u></u><u></u></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal"><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: black;">&nbsp;Shall you seek further clarification don&rsquo;t hesitate to contact me</span><span style="font-size: 10.0pt; font-family: 'Museo Sans 300';">.</span><u></u><u></u></p>
<p class="MsoNormal"><em><span style="font-size: 10.0pt; font-family: 'Museo Sans 300'; color: #444444; border: none windowtext 1.0pt; padding: 0in; background: white;">The content of this email is confidential and intended for the recipient specified in message only. It is strictly forbidden to share any part of this message with any third party, without a written consent of the sender.</span></em><u></u><u></u></p>
<p class="MsoNormal">Thank You<u></u><u></u></p>
<p class="MsoNormal"><u></u>&nbsp;<u></u></p>
<div>
<p class="MsoNormal"><img src="cid:17714bc8d2a8546ed1" border="0" width="477" height="176" /><u></u><u></u></p>
</div>
</div>
<br /><a href="https://apc01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.icep.com.my%2Fipmc%2F&amp;data=04%7C01%7Chaziqiskandar.suria%40petronas.com.my%7C61020c6ab8a44d1a232408d8bb900d7d%7C3b2e894179484131978ab2dfc7295091%7C0%7C0%7C637465574675942517%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&amp;sdata=l3%2F6ffvQa4QtCGtX1DN%2Frq2Yapod2WBGgfRvih47Wnw%3D&amp;reserved=0" target="_blank" rel="noopener"><img src="http://icep.com.my/wp-content/uploads/2020/06/IPMC2020.png" border="0" /> </a><br /><br />DISCLAIMER : This e-mail and any files transmitted with it ("Message") is intended only for the use of the recipient(s) named above and may contain confidential information. You are hereby notified that the taking of any action in reliance upon, or any review, retransmission, dissemination, distribution, printing or copying of this Message or any part thereof by anyone other than the intended recipient(s) is strictly prohibited. If you have received this Message in error, you should delete this Message immediately and advise the sender by return e-mail. Opinions, conclusions and other information in this Message that do not relate to the official business of PETRONAS or its Group of Companies shall be understood as neither given nor endorsed by PETRONAS or any of the companies within the Group.</div>
</div>
</div>